[2019-01-26 02:14] jaredpalmer opened #1 "Better Logging"
The rollup output is wayyyyyy too verbose. Need to make it concise.

[2019-01-26 02:21] JasonEtco opened #2 "README instructions don't work"
### Current Behavior

I'm following the README instructions, and it seems like they're geared towards `tsdx` being an NPM script in an existing project?

[code]

[code]

I also tried `yarn global add tsdx` and then running `tsdx create my-lib`:

[code]

This even happens when I run `tsdx --version`.

### Expected behavior

I could be misunderstanding the tool, but I'm guessing this should scaffold

[2019-01-26 02:44] #2 closed, assigned to nobody

[2019-01-26 02:53] JasonEtco opened #3 "General notes"
👋 In trying out this tool, I wanted to leave some general notes for you. Feel free to close this issue right away, or use it to spawn further issues - totally up to you.

---

Tiny thing in the generated `package.json`:

![image](https://user-images.githubusercontent.com/10660468/51781719-bc979e80-20ea-11e9-9223-65a6e561a54c.png)

---

Would be cool to supe up the bootstrap logs:

![image](https:/

[2019-01-26 03:00] JasonEtco opened #4 "Out-of-the-box `npm test` fails"
### Current Behavior
[code]

[2019-01-26 03:01] jaredpalmer opened #5 "Add React guide"

[2019-01-26 03:02] jaredpalmer opened #6 "Add Node guide"

[2019-01-26 03:02] jaredpalmer opened #7 "Add eslint"

[2019-01-26 03:03] jaredpalmer opened #8 "Document how to use lodash/lodash-es optimization"

[2019-01-26 03:03] jaredpalmer opened #9 "Add testing guide"

[2019-01-26 03:03] jaredpalmer opened #10 "Add publishing guide"

[2019-01-26 03:04] jaredpalmer opened #11 "Add command to quickly add a CRA / Parcel playground"

[2019-01-26 03:05] jaredpalmer opened #12 "Add logo"

[2019-01-26 03:05] jaredpalmer opened #13 "Add better readme to template"

[2019-01-26 03:06] jaredpalmer opened #14 "Bootstrapped package title is broken"

[2019-01-26 19:32] #14 closed, assigned to nobody

[2019-01-29 04:00] jaredpalmer opened #16 "Multiple entries"
This was technically added in 0.3.0, but needs documentation. Additionally, we need to think through dev/prod builds for each output and if that is what people actually want or nah.

[2019-01-29 04:00] jaredpalmer opened #17 "Use CLI Framework"
Use gluegun or oclif to clean stuff up (again)

[2019-01-29 04:01] jaredpalmer opened #18 "Self-compile the source code"

[2019-01-29 04:15] jaredpalmer opened #19 "Sniff entry point extension .tsx"

[2019-01-29 22:49] #4 closed, assigned to nobody

[2019-01-29 22:49] #3 closed, assigned to nobody

[2019-01-29 23:09] JasonEtco opened #23 "Unclear error for missing "source""
### Current Behavior

Tried dropping TSDX into an existing library, and got this:

[code]

After some 🤔, turns out it was expecting a `"source"` property in my `package.json`.

### Expected behavior

A handy-dandy error like:

[code]

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | `v0.0.25` |

[2019-01-29 23:20] JasonEtco opened #24 "`create` script fails and is looking for a `package.json` again"
### Current Behavior

[code]

Possibly relates to #2

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | `v0.0.25` |

[2019-01-30 03:07] #24 closed, assigned to nobody

[2019-01-30 03:25] swyxio opened #26 "`dist` not included in default publish experience"
### Current Behavior

Currently the scaffolded package.json looks like this:

[code]
when i publish to npm, nothing in the `dist` folder gets included. this could partially be because of the .gitignore (in which case we should add an .npmignore?) but i think the `"main": "index.js",` line is also a problem. I'm quite inexperienced at this so i'm not sure how to fix but i'm sure you can.

### Expec

[2019-01-30 16:59] #26 closed, assigned to nobody

[2019-01-31 00:36] #23 closed, assigned to nobody

[2019-01-31 00:37] #19 closed, assigned to nobody

[2019-01-31 01:21] sw-yx opened #29 "CLI version is missing"
### Current Behavior

`npx tsdx -v` returns `tsdx, 0.0.0`

### Expected behavior

proper version

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | 0.3.0
| TypeScript       | 3.x
| Browser          | chrome

[code]

[2019-01-31 01:52] swyxio opened #30 "[0.3.0] dist/index.js is still a nonexistent file"
### Current Behavior

despite the recent improvements, tsdx still scaffolds to something like this:

[code]

in particular, i believe that `"main": "dist/index.js",` is invalid.

as a result, the library builds, but when it is required into other apps, node resolution fails to find the library.

### Expected behavior

i may be wrong but i think it should point to "main": "dist/index.js",

[2019-01-31 02:27] #30 closed, assigned to nobody

[2019-01-31 13:31] jaredpalmer opened #31 "Consider splitting out the create command"
### Current Behavior

tsdx create is just another cli command. However, it shares almost zero code with the other commands and in fact makes things harder for them since certain values like `paths.js` are all undefined.

### Desired Behavior

Split out the creation script into a separate package or isolate the code so that it does not interfere or cause headaches throughout the rest of the codebas

[2019-01-31 23:10] sw-yx opened #33 "`create` command with React (and other template) prompt"
Yeah that could work. I kinda prefer a prompt here cuz I can never remember the flags

_Originally posted by @jaredpalmer in https://github.com/jaredpalmer/tsdx/issues/5#issuecomment-459538795_

[2019-02-02 19:28] #1 closed, assigned to nobody

[2019-02-02 19:33] #18 closed, assigned to nobody

[2019-02-02 19:33] #17 closed, assigned to nobody

[2019-04-22 03:15] swyxio opened #35 "`tsdx build` converts from kebab case to camel case"
### Current Behavior

if i have a package named "react-netlify-identity-widget" and i run tsdx build on it, the package.json has these fields:

[code]

however the filenames are camelcase: `reactNetlifyIdentityWidget.cjs.production.js`

### Expected behavior

files should match up.

### Suggested solution(s)

i'm actually not sure where the camelcasing pops up. took a quick look thru the code and

[2019-04-27 07:18] sw-yx opened #36 "compress option in `terser` inside production es rollup config produces invalid JS"
### Current Behavior

here is my repo i'm working on https://github.com/sw-yx/react-netlify-identity-widget/tree/rollupProductionIssue

if you:

[code]

you will see this error:

![image](https://user-images.githubusercontent.com/6764957/56846233-e6539380-689a-11e9-8f2d-07f02ada767b.png)

however if you change the package.json to use the development versions:

![image](https://user-images.githubus

[2019-04-29 16:05] swyxio opened #37 "upgrade to Rollup 1.0"
### Current Behavior

rollup 1.0 was released in december: https://github.com/rollup/rollup/pull/2293

including dynamic imports, which i want

any considerations that have held you back that we should think about?

[2019-04-29 18:28] #35 closed, assigned to nobody

[2019-04-29 18:39] #12 closed, assigned to nobody

[2019-04-29 18:55] #37 closed, assigned to nobody

[2019-04-29 18:55] #13 closed, assigned to nobody

[2019-04-29 19:51] jaredpalmer commented on #33
Agreezy. How should this work? This is much harder than it used to be because of the new "multiple versions of react" error message with hooks

[2019-04-29 20:54] diegohaz commented on #7
Why not eslint? Even TS is migrating to it: https://github.com/Microsoft/TypeScript/issues/30553

[2019-04-30 01:40] jaredpalmer commented on #7
Yeah made issue before the announcement

[2019-04-30 03:50] sw-yx commented on #36
what's the size impact on you if you turn off compress? i dont have the option because my code plain doesnt work without it (and its not like i'm doing some crazy nonidiomatic React stuff). as far as i can see, thats the only option for now, and i pray @TrySound can figure it out.

We can also choose to document it as well as how to patch the package, for early adopters of TSDX who may run into th

[2019-04-30 03:54] sw-yx commented on #33
i've run into that, but have no problems with my set up (see the `example` folder in https://github.com/sw-yx/react-netlify-identity-widget). stole that from @transitive-bullshit and it works fine. hehe ironically since we last talked i've gained a lot more cli experience due to netlify so i am actually in a position to contribute this right now. (see https://gist.github.com/sw-yx/6f97b9d7f3efbfad

[2019-04-30 03:57] sw-yx opened #42 "code splitting support"
### Current Behavior

currently we bundle single files, named per environment/module format.

to support code splitting (which is the default behavior of Rollup v1 which we [just upgraded to](https://github.com/palmerhq/tsdx/issues/37)) we'll have to evolve this to a folder format with multiple files.

right now this https://github.com/sw-yx/react-netlify-identity-widget/blob/master/src/index.tsx#

[2019-04-30 07:13] sw-yx commented on #42
important caveat - Rollup does not have code splitting support for UMD and IIFE builds, which somewhat complicates things. so we need one config for code splitting, and another for noncodesplitting.

[2019-04-30 07:36] sw-yx commented on #42
further investigation: using code splitting means we have random named chunks, and i get `Error: output file in rollup options should be specified` error with
@TrySound's `rollup_plugin_size_snapshot`. i've disabled it for now as i dont reallycare about the snapshot based on this (https://github.com/TrySound/rollup-plugin-size-snapshot/issues/23) it seems it just wasnt designed with code splitting

[2019-04-30 08:15] capaj commented on #11
this would be amazing! I have a couple of small react libs and setting up a playground for each has been a bit painful.

[2019-04-30 08:20] capaj opened #43 "Add prettier"
eslint and prettier are the basic tools for any repo these days. You've got the issue for eslint, so I've thought I'd open up one for prettier too.

[2019-04-30 09:27] capaj opened #44 "create should exit when directory exists already without copying anything"
### Current Behavior

error is printed in the console, but the template is copied over to the existing directory

### Expected behavior

no files are copied over

[2019-04-30 10:02] jaredpalmer commented on #42
I need to read more about Rollup code splitting as I don’t understand how it would be beneficial for a library

[2019-04-30 11:16] Guria commented on #43
Prettier could be a part of eslint setup in fact

[2019-04-30 11:17] BetterCallSky commented on #8
I would suggest avoiding using lodash in libraries. Especially in libraries that are small.
Lodash functions are huge. For example: `lodash.keyBy` has 14KB after minification, but it can be reimplemented in 4 lines.

Example https://github.com/react-dnd/react-dnd/issues/1202

[2019-04-30 12:39] TrySound commented on #42
I will fix size snapshot when I will have a time.

[2019-04-30 12:42] TrySound commented on #36
To be honest terser code is unreadable. I can't find a fix for that. You may turn off collapse_vars option. It should fix the problem.

[2019-04-30 14:08] sw-yx commented on #36
ohh i see. i thought there was no option available. thank you i will try that.

[2019-04-30 15:00] #43 closed

[2019-04-30 15:15] mikl opened #48 "`npx tsdx create` fails when Yarn is not installed"
### Current Behavior

Running tsdx create without having Yarn installed results in an error like this:

[code]

### Expected behavior

tsdx's documentation could be read like it works with "plain npm", and thus I had expected it to work just having node

### Suggested solution(s)

1. If Yarn is required, it should probably be made clear.
2. If not, `tsdx create` should work without Yarn.

### Addi

[2019-04-30 16:25] #48 closed

[2019-04-30 16:54] aleclarson commented on #29
Fixed in 3f8d25e96a6c83f5cadcbd987d8dcdc58c68628d

[2019-04-30 17:00] #29 closed

[2019-04-30 17:04] #44 closed

[2019-04-30 17:06] #31 closed

[2019-04-30 17:10] #16 closed

[2019-04-30 17:18] jaredpalmer commented on #42
I just skimmed the docs. @sw-yx Can you elaborate more on the use case? I don't really understand why you want to code split identity widget itself in the first place. Instead, it makes more sense to just show consumers how to code split the the entire login route / modal?

[2019-04-30 17:18] jaredpalmer commented on #36
So what should we do for now?

[2019-04-30 17:30] James-Quigley opened #55 "Creation failure - The "file" argument must be of type string"
### Current Behavior

When running `npx tsdx create myapp`, the installation fails with the error:
[code]

### Expected behavior

Should successfully generate the full template, install deps, etc.

### Suggested solution(s)

Seems like a type error. Can investigate more later unless someone beats me to it

### Additional context

### Your environment

| Software         | Version(s) |
| ----------

[2019-04-30 17:58] jaredpalmer commented on #55
Update 0.5.1

[2019-04-30 17:58] jaredpalmer commented on #55
I will deprecate 0.5.0 on npm right now

[2019-04-30 18:06] #55 closed

[2019-04-30 18:07] jaredpalmer commented on #55
Fixed in 30213c5

[2019-04-30 18:08] kwilson opened #56 "Creation failure - TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object"
### Current Behavior

When running `npx tsdx create mylib`, the installation fails with the error:

[code]

### Expected behavior

Should successfully generate the full template, install deps, etc.

### Additional context

I tried poking around in the code and can see that it's failing on

[code]

As far as I can tell, it's trying to run via yarn on my machine.

### Your environment

| Software

[2019-04-30 18:11] kwilson commented on #56
Haha, so 0.5.1 was published while I was writing that up and all working now.

[2019-04-30 18:11] #56 closed

[2019-04-30 19:35] sw-yx commented on #42
yeah. i withdraw my stupid idea. :) thanks for humoring me

[2019-04-30 19:35] #42 closed

[2019-04-30 19:59] sw-yx commented on #36
@jaredpalmer  i have verified that Bogdan's solution works. i recommend adopting it in tsdx and have PR'ed accordingly

[2019-04-30 20:46] #36 closed

[2019-04-30 21:44] #33 closed

[2019-04-30 21:56] jaredpalmer commented on #11
Closed by #59. Available in 0.5.3

[2019-04-30 21:56] #11 closed

[2019-04-30 22:14] damianesteban opened #60 "Error: ENOENT: no such file or directory"
### Current Behavior

When I run `tsdx create mylib` I receive the following error:

```Error: ENOENT: no such file or directory, stat '/usr/local/lib/node_modules/tsdx/templates/basic'```

### Expected behavior

I'm not sure,I haven't gotten it to work yet 😄

### Suggested solution(s)

N/A

### Additional context

I have seen other similar errors reported and they were marked as closed. Not sure

[2019-04-30 22:19] jaredpalmer commented on #60
Bump to 0.5.4

[2019-04-30 22:19] jaredpalmer commented on #60
Had a botched release where i forgot to change the `files`

[2019-04-30 22:19] #60 closed

[2019-04-30 22:23] capaj opened #61 "Feature request: Spec files next to sources"
I like having spec files right next to the source files.
Currently this is not achievable. Can we get a support for this style of filesystem organisation?

[2019-04-30 22:41] damianesteban commented on #60
Great, thank you.

[2019-04-30 23:11] jaredpalmer commented on #61
I think it’s possible, but would need to investigate and play with the default TS settings.

[2019-05-01 06:42] JosephMart commented on #10
Tried running with np and ran into issue that the test hook uses jest in watch mode so np got hung up on tests. Guide should maybe suggest changing the test hook to `"test": "tsdx test --coverage"` or some CI flag so that jest doesn't watch and exits.

note: `coverage/` should be added to `.gitignore` if the coverage approach is taken.

[2019-05-01 10:05] bastibuck opened #62 "No tests found - exit code 1"
### Current Behavior

After installing tsdx globally and creating a new project I ran `npm test` and it prompts the following to console:

[code]

Also when filtering for `blah.test.ts` manually it won't show up.

### Expected behavior

To get the default test to run and pass after installing out of the box.

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |

[2019-05-01 10:09] daniele-zurico opened #63 "react library with scss modules support"
### Current Behavior
Is not possible to use it with scss and module

### Desired Behavior
Be able to use it as CRA

scss file: helloWorld.module.scss

ts: import style from "./helloWorld.module.scss"

### Suggested Solution
Have a look on CRA and see how it works

### Who does this impact? Who is this for?
All the developer that want to create a library with multiple modules and have support of sc

[2019-05-01 11:46] jaredpalmer commented on #63
I don’t use css modules, so I’m not familiar with what best practices are for including/excluding them in a 3rd party component that eventually gets consumed by something like CRA or Parcel that actually does css processing. For example, Reach UI, has a vanilla CSS file that you eventually import into your app. Again, I’m open to this, I just don’t understand how it should be done

cc @markdalglei

[2019-05-01 12:48] jaredpalmer commented on #5
@sw-yx

[code]

[2019-05-01 12:54] PabloSzx commented on #62
I have the same issue

[2019-05-01 13:30] mkaradeniz opened #64 "Can't use hooks when `react` & `react-dom` are dev dependencies"
### Current Behavior
Thank you for this project!

I'm not sure if I missed or didn't understand something, but when choosing the `react` template, `react` & `react-dom` are added as dev dependencies. When you then try to use a hook inside your library, you get a [`react-invalid-hook-call`](https://fb.me/react-invalid-hook-call) error. It works fine when removing them as dev dependencies and runnin

[2019-05-01 13:33] Guria commented on #64
The right solution is to put `react` and `react-dom` to peerDependencies + devDependencies and never in a regular dependencies.

[2019-05-01 13:47] Guria commented on #63
Just a `css` support only, even without preprocessors and modules, opens an abyss of new questions.

Should import of `css` be kept in transformed files or they should just used to collect style dependencies to extract one `css` file and disappear in transformed result? The same about `scss`. Additionally it could be left untouched or transformed to `css` import.

What about variables / mixins? Sh

[2019-05-01 13:49] mkaradeniz commented on #64
That doesn't seem to fix it for me. I still get the same error.

[2019-05-01 13:54] Guria commented on #64
have you tried to drop node_modules and lock files and reinstall deps?
`devDeps` + `peerDeps` in a library shouldn't lead to a duplicated `react` in `node_modules`.
Use `npm ls react` or `yarn list react` to check that you have no duplicates.

[2019-05-01 14:30] jaredpalmer commented on #64
Yes, we should add react to peer deps and dev deps in the template and keep them as regular deps in the example directory. This is how I do it in Formik. IIRC Formik doesn’t place react-dom as a peer dep, only a dev dep, so it can be used with react native.

[2019-05-01 15:48] #62 closed

[2019-05-01 16:52] z0al opened #67 "TypeError: Cannot read property 'find' of undefined"
I have an existing project that uses microbundle and I wanted to give this project a shot.

### Current Behavior

When I run `tsdx build` I get this error, but the outputted `dist` folder seems fine.

[code]

### Expected behavior

No errors

### Suggested solution(s)

### Additional context

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX

[2019-05-01 17:30] James-Quigley commented on #67
Is that proj open source by chance?

[2019-05-01 17:33] PabloSzx commented on #62
I upgraded to  "tsdx": "^0.5.5" and stil have the same error, but it instead of watching, just returns "error Command failed with exit code 1."

[2019-05-01 17:42] z0al commented on #67
Oh, yeah. My bad. I tried to add `tsdx` to [this package](https://github.com/z0al/stash/tree/master/packages/stash-it).

My steps:

1. Install: `npm add -D tsdx`
2. clean: `rm -rf dist`
3. build: `npx tsdx build`

[2019-05-01 17:42] James-Quigley commented on #6
What kind of things would you want in the Node guide?

[2019-05-01 17:45] James-Quigley commented on #67
![image](https://user-images.githubusercontent.com/12548978/57032050-5bb2c180-6c17-11e9-88ee-2004ffa32b55.png)
Interestingly enough, worked totally fine for me. What version of Node and npm are you using?

[2019-05-01 17:47] z0al commented on #67
That's weird!

[code]

[2019-05-01 18:36] bastibuck commented on #62
Same for me, taking a closer look now

[2019-05-01 18:47] sw-yx commented on #5
woop! ok

[2019-05-01 18:48] sw-yx commented on #64
peerdeps in v0.5.5 https://github.com/palmerhq/tsdx/commit/9f5c6de9f8c7472fcd0dbbfe15aa18434e742d9f

[2019-05-01 18:52] bastibuck commented on #62
I created the PR above. Someone should verify it still works on MacOS. Not sure why the other solution didn't work but this one does and should do the same thing.

[2019-05-01 18:55] bastibuck commented on #62
Also I'd prefer the default behaviour to become `--watchAll` again as it wasn't the cause of this bug if you agree

[2019-05-01 20:11] aleclarson opened #72 "install tslib by default"
Libraries should be using `tslib` to eliminate duplicate code.

Also need `"importHelpers": true` in the `tsconfig.json`

[2019-05-01 21:02] jaredpalmer commented on #6
So this could be used to build a CLI tool (it will preserve shebangs) or even a lambda function. Probably want to just show off adding @types/node maybe?

[2019-05-01 21:59] jaredpalmer commented on #67
We should figure out which versions of node we support

[2019-05-01 22:13] z0al commented on #67
I tried node v12 and it works now. Both node v10 and v11 don't work :/

[2019-05-01 22:25] mkaradeniz commented on #64
I think I found the problem. I was testing it using `yarn link` and I couldn't get it to work without removing the `devDependency`. Publishing a package based on `0.5.5` and using that worked fine. Thanks you all!

[2019-05-01 22:49] James-Quigley commented on #67
I'm on Node v10 and it worked just fine

[2019-05-01 22:57] jaredpalmer commented on #72
Agreed

[2019-05-01 22:58] aleclarson commented on #72
Hahaha! On it 😆

[2019-05-01 23:01] mkaradeniz commented on #64
Sorry. I did get it work in an CRA-Project with the published package. But creating a project based on `0.5.5`, adding a hook, and then trying to use the component in the provided example setup is still not working for me. Am I doing something wrong? Repo: https://github.com/mkaradeniz/tsdx-hooks-problem-example

[2019-05-01 23:01] sw-yx commented on #72
lol, power move right there

[2019-05-02 00:10] aleclarson commented on #72
@sw-yx a power move, or me being nice? :P

[2019-05-02 02:41] sw-yx commented on #72
both :)

[2019-05-02 15:25] z0al commented on #67
@James-Quigley do you add `tsdx` to dependencies first before running the build?

After more testing, I can say that the `npx tsdx build` works only (at least on my machine) if I didn't add `tsdx` as a dep, here:

**Fails:**

[code]

**Works:**

[code]

Tested with Node v10, v11, and v12 ¯\\\_(ツ)_/¯

[2019-05-02 16:00] James-Quigley commented on #67
@z0al It seems that what matters is the order in which I do my npm actions. If I add tsdx first, then npm install then build, its a pass. If I install, then add tsdx, it fails.
[code]
$ git reset --hard
$ git clean -xdfff
$ npm add tsdx
$ npm i
$ npx tsdx build // PASS
[code]
$ git reset --hard
$ git clean -xdfff
$ npm i
$ npm add tsdx
$ npx tsdx build // FAIL
[code]

[2019-05-02 16:10] tmbtech commented on #9
I can help out with this. What did you have in mind?

[2019-05-02 22:11] #72 closed

[2019-05-03 00:09] jakegavin opened #76 "Skipping a format results in warning about an unhandled promise rejection"
### Current Behavior

Skipping one of the module formats causes a warning about an unhandled promise rejection due to an invalid rollup config.

[code]

As far as I can tell, the build still succeeds though so this isn't a huge issue.

### Expected behavior

Ideally, the build would run without any warnings.

### Suggested solution(s)

One possible solution would be to filter falsey values from th

[2019-05-03 07:02] sw-yx opened #78 "[Feature] append-only error code minification"
### Current Behavior

nil

### Desired Behavior

error code minification like React (https://reactjs.org/docs/error-decoder.html/) see also https://reactjs.org/blog/2016/07/11/introducing-reacts-error-code-system.html

### Suggested Solution

develop babel plugin/macro to record and hash invariants and append new ones to an errors file. develop a small hosting solution to send people there.

### W

[2019-05-03 09:51] mecurc opened #79 "env varriables replacing support"
### Current Behavior

`process.env.*` transpiles `as is`

### Desired Behavior

declared variable with prefix `TLDX_*` transpiles to its values. Other vars transpiles `as is`

if `.env` contents:
[code]
then `process.env.TLDX_KEY` transpiles to `key` and `process.env.KEY` transpiles to `process.env.KEY`

### Who does this impact? Who is this for?

This is for my team. We building the package with

[2019-05-03 11:02] #76 closed

[2019-05-03 11:16] Guria commented on #79
Take a look at [comment](https://github.com/rollup/rollup/issues/487#issuecomment-486229172) with a proper way to define a process.env with rollup.

[2019-05-03 11:19] Guria commented on #79
BTW, CRA behaves not in that way you defined in issue. It only injects prefixed keys and allows access to it  only by accessing process.env.

[2019-05-03 13:16] jaredpalmer commented on #79
Tsdx will strip out dev only code in prod builds

[2019-05-03 13:42] jaredpalmer commented on #67
Try 0.5.6

[2019-05-03 13:56] z0al commented on #67
@jaredpalmer  Same as [above](https://github.com/palmerhq/tsdx/issues/67#issuecomment-488717418) for me.

[2019-05-03 14:32] jaredpalmer commented on #67
hrmmmm.

[2019-05-03 15:26] aleclarson opened #80 ".d.ts bundles"
### Current Behavior

Every module has its own `.d.ts` module

### Desired Behavior

Bundle the typedefs into a single `.d.ts` module

### Suggested Solution

https://www.npmjs.com/package/rollup-plugin-dts

[2019-05-03 22:05] mormahr commented on #61
So it's not sufficient to change jest's `testMatch` config? I'm new to TypeScript and used a babel / flow / webpack setup and this was the default. Does TypeScript handle this different?

[2019-05-03 22:51] jaredpalmer commented on #67
Can you try out `npx tsdx@next create lib` and see if it works

[2019-05-03 22:58] jaredpalmer opened #82 "RFC: Run prettier on dev bundle output"
See https://www.npmjs.com/package/rollup-plugin-prettier

We would run this on the dev builds so end consumers have an easier time debugging.

[2019-05-04 05:11] z0al commented on #67
Yep, it works.

[2019-05-04 16:36] techniq commented on #61
In another project I use Typescript and babel

[code]

[2019-05-04 16:46] techniq commented on #61
@mormahr the following does seem to locate the tests...
[code]

but it's failing to find any tests to run

[code]

although after looking closer, this might be due to some Typescript errors (I was using Typescript 3.1 and not 3.4.3 like tsdx is currently).  I'll investigate more later.

[2019-05-04 18:37] techniq commented on #61
It did appear to be my failing Typescript types from changes in 3.1 to 3.4.3.  Adding `testMatch` mentioned above was enough to get passing tests within `src`

[2019-05-04 19:27] mecurc commented on #79
Oh, yes. It's no matter how it works. How I can use rollup-plugin-replace with my own vars or your solution?

[2019-05-05 09:41] liyuanqiu opened #83 "`yarn jest` TypeError: xxx.default is not a constructor -- default export not output as expected"
### Current Behavior

`tsdx` yarn test will report error:
[code]
when import a class created by `tsdx` and try to instance it.

***reproduction:***
1. create a lib using `tsdx`
[code]
2. modify index.ts to a `class`
[code]
3. build
[code]
4. create another lib using `tsdx` called `mylib-b`
5. move `mylib-a` to `mylib-b/src/`
6. import `mylib-a` in `mylib-b/test/blah.test.ts`
[code]
7. yarn test
--

[2019-05-05 09:49] liyuanqiu commented on #83
So if one npm library created by `tsdx` wants to use a class imported from another npm library created by `tsdx` too in it's tests, the tests won't pass.

Sorry my mother tongue is not English, maybe this description is a little bit confusing...

[2019-05-05 14:45] petyosi commented on #64
Facing the same problem; I don't think it is caused by tsdx itself - hooks are quite picky when multiple react instances are present - see https://github.com/facebook/react/issues/14257. Tried doing the recommendations from there; Linked the package react using `yarn link` and added `"react":  "link:../node_modules/react"` to package.json. Did not work for me.

The solution which worked for me:
-

[2019-05-05 15:00] mkaradeniz commented on #64
Yeah, the `"react": "link:../node_modules/react"` didn't work for me directly either. Only after installing the dependencies without `react` & `react-dom` and then adding `"react": "link:../node_modules/react"` & `"react-dom": "link:../node_modules/react-dom"` after installing works. At least as long you don't `yarn` again.

Thanks your workaround!

[2019-05-05 15:34] jaredpalmer commented on #64
You don’t need to run yarn link if you build and import from src

[2019-05-05 18:34] xaviergonz opened #84 "vscode doesn't use tsconfig.json settings for files in test folder"
### Current Behavior

When I set experimentalDecorators to true in tsconfig.json it works ok for files in "src", but it doesn't work for files in "test" (vscode marks decorators in red, but it works ok when running 'test')

### Desired Behavior

When experimentalDecorators is set to true in tsconfig.json it should also be for vscode test files

### Suggested Solution

Add a tsconfig.json file to t

[2019-05-05 18:46] DennisKo commented on #64
I had the same issue, @petyosi solution worked for me.

[2019-05-06 08:17] agentofuser opened #85 "Standardize commit and release"
### Current Behavior

No standardized commit messages or release process for created libraries.

### Desired Behavior

`yarn commit` with prompts and linting + `yarn release`

### Suggested Solution

Something like conventional commits + git-cz + semantic release.

[2019-05-06 09:35] agentofuser commented on #17
Now there is https://github.com/vadimdemedes/pastel which is a framework around Ink. Might be worth a short.

[2019-05-06 10:27] mecurc commented on #17
Please no! Somethink like https://github.com/jorgebucaran/getopts.

[2019-05-06 12:28] aleclarson commented on #85
This seems more suited for a [mrm](https://github.com/sapegin/mrm) plugin.

[2019-05-06 13:16] gevalo1 opened #87 "No name was provided for external module"
### Current Behavior

My code isn't getting bundled because tsdx treats everything as external modules, the resulting bundle only contains the compiled `index.ts` file.

### Expected behavior

My files shouldn't be treated as external modules.

### Suggested solution(s)

Could it be something related to the `external` function? https://github.com/palmerhq/tsdx/blob/v0.5.7/src/utils.ts#L19

### Add

[2019-05-06 13:24] jaredpalmer commented on #64
I think the solution I like best now is to use Parcel's alias like so:

[code]

[2019-05-06 16:42] xaviergonz commented on #84
Ok, aparently as of v0.5.7 decorators do work for tests and builds, but vscode complains when they are used inside tests

[2019-05-06 16:49] xaviergonz commented on #84
One way I found to fix this was including the following tsconfig.json inside the tests folder
[code]

[2019-05-07 04:53] sw-yx commented on #64
made a PR to do just that

[2019-05-07 11:22] #64 closed

[2019-05-07 22:53] mikecousins commented on #64
This doesn't work if you're trying to deploy the example site to Netlify or something similar. Is there any other way to accomplish this?

[2019-05-07 22:55] jaredpalmer commented on #64
True

[2019-05-08 15:21] a-type commented on #87
Looks like a Windows problem, I'm experiencing it too.

My recommendation would be to use [path.isAbsolute](https://nodejs.org/api/path.html#path_path_isabsolute_path)

[2019-05-08 17:37] #87 closed

[2019-05-08 18:42] veksen opened #90 "jest.config.js created with hardcoded paths"
### Current Behavior

When running `yarn test`, a `jest.config.js` is created, but the paths are hardcoded to the computer that runs it.

[code]

### Expected behavior

Probably either use `<rootDir>`, or should `jest.config.js` be gitignored? It doesn't seem to make sense to commit it in its current state (aka, the user computer hardcoded)

### Your environment

| Software         | Version(s) |

[2019-05-08 21:22] a-type opened #91 "Modules resolved absolutely against `src` are treated as external"
Followup to #89 and #87.

### Current Behavior

Running `tsdx create` initializes a `tsconfig.json` with absolute module resolution relative to the `src` directory. I have VS Code configured to prefer absolute paths if possible when importing modules, so if I have a module like...

`src/foo.ts`
[code]

And I type

[code]

and hit Tab, VS Code will add the following import:

[code]

This is valid a

[2019-05-08 22:09] sw-yx commented on #91
great issue. we should probably resolve this on a Rollup level. thanks for writing it up. i'll take a look at the rollup config  but am not sure how to solve it

[2019-05-08 22:17] sw-yx commented on #91
options:

- (first party) [rollup-plugin-alias](https://github.com/rollup/rollup-plugin-alias)
- [includePaths](https://github.com/dot-build/rollup-plugin-includepaths)
- handrolled https://github.com/rollup/rollup/issues/558
- [rollup-plugin-root-import](https://www.npmjs.com/package/rollup-plugin-root-import)

[2019-05-08 22:21] sw-yx commented on #91
probably want to add it [here](https://github.com/palmerhq/tsdx/blob/c2b9421e15c528c3b8aa835549c290693bdc9130/src/createRollupConfig.ts#L73). want to try it in a local version and PR?

[2019-05-08 22:40] jaredpalmer commented on #91
I defer to you @sw-yx

[2019-05-08 22:41] jaredpalmer commented on #90
I think i just need to get rid of my `require.resolve`

[2019-05-09 14:48] a-type commented on #91
Continuing down this rabbit-hole: The potential issue I see with aliasing is that the `tsconfig` is bootstrapped into the user's controlled files, but the rollup config is still controlled by `tsdx`. If the `src` relative resolution is hard-coded into `tsdx`'s rollup config, you may encounter a scenario where the user has a legitimate reason to remove the resolution from `tsconfig.json`, but canno

[2019-05-09 14:58] sw-yx commented on #91
we *could* handroll (or publish) a plugin to read `tsconfig.json`... the source doesnt look too bad? https://github.com/rollup/rollup/issues/558#issuecomment-197470891 @a-type

[2019-05-09 16:33] a-type commented on #87
@jaredpalmer version `v0.5.8` published on NPM doesn't appear to include this change in the distributed code.

[2019-05-09 17:05] PabloSzx opened #94 "Cannot find module '*.ts' from "*.cjs.development.js" after publish and importing it"
### Current Behavior

[code]

[code]

### Expected behavior

Being able to use the code generated from the build.

### Additional context

https://github.com/PabloSzx/crypto-use/tree/master/src

### Suggested solution(s)

Build all the modules in "src" into native javascript and transform ".ts" to ".js"

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TS

[2019-05-09 23:35] jakegavin opened #95 "Babel isn't runing"
### Current Behavior

The babel plugin doesn't run on transpiled ts code so features like lodash import renaming, pure call annotation, and the dev expression plugin don't work.

Example bundle: https://github.com/jakegavin/tsdx-babel-issue/blob/master/dist/tsdx-babel-issue.cjs.development.js#L3

Babel doesn't run on the output of the rollup-plugin-typescript2 unless `"ts"` is specified as an exte

[2019-05-10 12:54] #95 closed

[2019-05-10 15:04] jaredpalmer commented on #90
Upgrade and remove, your should remove `jest.config.js`

[2019-05-10 15:04] #90 closed

[2019-05-10 15:22] jaredpalmer commented on #94
I checked out your code and did a build. I was not able to reproduce this. Can you try 0.5.9?

[2019-05-10 16:13] PabloSzx commented on #94
0.5.9 appareantly fixes some of the issues, but now i'm having this issue with lodash as dependency

[code]

[2019-05-10 16:26] #8 closed

[2019-05-10 16:27] jaredpalmer commented on #94
Did you install both lodash and lodash-es?

[2019-05-10 16:29] jaredpalmer commented on #94
@PabloSzx you need to install both lodash and lodash-es. @TrySound is their a way we can sniff out if a user has only installed lodash and throw an error?

[2019-05-10 16:47] PabloSzx commented on #94
when using [microbundle](https://github.com/developit/microbundle) i don't need to install *lodash-es*

[2019-05-10 16:53] PabloSzx commented on #94
and now jest is having issues

[code]

[2019-05-11 08:54] TrySound commented on #94
@jaredpalmer Not sure. I would make this optimisation optional for those who understand it.

[2019-05-11 15:12] #5 closed

[2019-05-11 17:01] jameswlane opened #100 "tsdx test ignores snapshotSerializers in jest.config.js"
### Current Behavior

If I run `tsdx test --env=jsdom --coverage` Jest will not use the snapshot serializers defined in the `jest.config.js` and fail all my snapshots.

### Expected behavior

When I run `tsdx test --env=jsdom --coverage` it should use the snapshot serializers defined in the `jest.config.js`.

### Suggested solution(s)

Pick up the config in the `jest.config.js` or be able to defin

[2019-05-11 18:01] PabloSzx commented on #94
It's not only a jest problem, it's in the building itself, i published the build from tsdx, and "tested" it manually on a node code, and it gives the same error.

[code]

[2019-05-11 20:43] samdenty opened #101 "Output not being compiled-down"
### Current Behavior

Currently the output is not being transpiled so it can be supported on older browsers eg. `class {}`.

### Suggested solution(s)

Use `@babel/preset-env` and default to ES2015 output

### Additional context

It's problematic because some setups don't transpile node_modules. This prevents extending classes from `tsdx` as babel doesn't like es5->es6 interop.

[2019-05-11 22:13] sw-yx commented on #101
i think @jaredpalmer has strong feelings about this one. i think it may be a gold idea to try to ship modern js in libraries and force downstream toolkits to change. any idea why CRA doesnt do the transpile?

[2019-05-11 22:38] samdenty commented on #101
@sw-yx I agree on shipping modern code, unfortunately some tools (parcel for one)/custom webpack setups aren't configured out the box to transpile node_modules.

How about keeping `preset-env`, but adding a `browserlist` to `package.json` that targets the evergreen by default?

[2019-05-11 23:29] sw-yx commented on #101
🤷🏼‍♂️this is jared's call.

[2019-05-12 00:47] jaredpalmer commented on #101
Oof. 😐

[2019-05-12 01:36] nareshbhatia opened #103 "Importing libraries in setupTests.ts throws TypeScript errors"
### Current Behavior

The following imports in setupTests.ts throw Typescript errors:

    import 'react-testing-library/cleanup-after-each';

The above throws "ReferenceError: afterEach is not defined"

    import 'jest-dom/extend-expect';

The above throws "ReferenceError: expect is not defined"

It is as if Jest does not recognize its own globals.

The same imports work correctly in test files.

[2019-05-12 09:31] jantimon commented on #91
I have muliple small tsdx packages inside a mono repository.

It looks like this:

[code]

Now when published to npm it is important that `util1` does not inline `core` but uses it as an external.

So it is really important for me that `import { util1 } from 'util1';` is used as an external although the files are not coming from a `node_modules` folder.

[2019-05-12 15:27] sw-yx commented on #91
@jantimon doesnt that just mean `core` should be marked as a peer dependency? we can make sure to respect that too.

[2019-05-12 15:44] jantimon commented on #91
Yes core is a peer dependency

[2019-05-16 15:04] GoPro16 opened #104 "Callbacks on Successful/Unsuccessful Build"
### Current Behavior

Currently, the watch command will just watch for changes and build the module. There is not ability to run any of the typescript using the same command.
### Desired Behavior

Add an additional argument to run a command on a successful or failed build as well as firstSuccessfulBuild.

### Suggested Solution
 [tsc-watch](https://www.npmjs.com/package/tsc-watch) provides a good

[2019-05-16 15:45] sw-yx commented on #104
interesting feature. PR welcome.

[2019-05-16 18:33] ztolley opened #105 "New project includes yarn-error.log"
Steps to recreact
run: npx tsdx create mylib
cd mylib
cat yarn-error.log

See that jared is running 11.8.0 and had a syntax error in /Users/jared/workspace/github/jaredpalmer/tsdx/templates/react/package.json

[2019-05-16 22:19] jaredpalmer commented on #104
Yeah this is a great idea

[2019-05-16 22:21] jaredpalmer commented on #91
Should we make an external flag where you can hand write externals?

[2019-05-17 23:38] rozenmd commented on #105
Just taking a look at this @sw-yx & @jaredpalmer.

Seems like the `yarn-error.log` was inadvertently packaged up and sent to npm - can't make it show up running a cloned copy of tsdx locally

[2019-05-17 23:48] jaredpalmer commented on #105
Whoops 😬

--
Jared
________________________________
From: Max Rozen <notifications@github.com>
Sent: Friday, May 17, 2019 7:38:04 PM
To: palmerhq/tsdx
Cc: Jared Palmer; Mention
Subject: Re: [palmerhq/tsdx] New project includes yarn-error.log (#105)

Just taking a look at this @sw-yx<https://github.com/sw-yx> & @jaredpalmer<https://github.com/jaredpalmer>.

Seems like the yarn-error.log was inadver

[2019-05-19 18:23] andyboythekid opened #106 "Adding to an existing library"
I was curious about adding this to an existing library. I noticed that the library generates a few files and some config in package.json. My solution was to just copy paste these changes into my library, but was wondering if there was an easier solution (for when I use this again in the future).

Cheers!

[2019-05-19 19:28] sw-yx commented on #106
not right now, and tbh im not sure this should exist. dont want to encourage turning off all thinking. but yea most existing codebases should be able to switch over to tsdx easily. let us know what pain points you ran into specifically

[2019-05-19 22:36] alanrsoares commented on #101
I'm also having issues with spread operator not being transpiled

[2019-05-19 23:27] jaredpalmer commented on #101
Will investigate in the mornjng

[2019-05-20 14:45] jaredpalmer commented on #101
I think this must have to do with cjs settings.

[2019-05-21 03:44] sw-yx opened #107 "projects created with `npx tsdx create mylib` still dont have husky and prettier setup"
### Current Behavior

we merged https://github.com/palmerhq/tsdx/pull/45 3 weeks ago and released it but for some reason when i run `npx tsdx create mylib` it still doesnt show up. this is what i see on a fresh new project:

[code]

no husky or prettier. am i misunderstanding how this works?

### Expected behavior

it should have husky/prettier setup.

### Suggested solution(s)

not sure. investig

[2019-05-21 04:11] sw-yx commented on #107
disregard.. i had a stale local version of tsdx linked AND some old version installed inside an .nvm folder somewhere.. this always gets me.

[2019-05-21 04:11] #107 closed

[2019-05-22 06:35] MarceloAlves opened #109 "Issue with node shebang"
### Current Behavior

I could be doing something wrong here but creating a new "basic" project and adding the node shebang to `index.ts` and running `yarn build --target node` results in this error:

[code]

### Expected behavior

Should build without an error as far as I know.

### Suggested solution(s)

Not quite sure where the issue lies here. Spent a bit of time digging around to see if maybe

[2019-05-22 07:25] sw-yx commented on #109
rollup seems to not handle this on purpose: https://github.com/rollup/rollup/issues/235

we use @jaredpalmer's own shebang plugin: https://github.com/palmerhq/tsdx/blob/71817a33628983ee8a3adb4d10e852b5895d7a00/src/createRollupConfig.ts#L12 so it should work... will just leave it to you two to figure it out

[2019-05-22 21:54] MarceloAlves commented on #109
👋 @sw-yx thanks for chiming in here

I hadn't seen that issue in my searching! I'm thinking my project it might be a better route to build with `tsc` and stick to using `tsdx` when it comes to web-based packages.

I don't have enough experience with rollup to really dig in here. I did see this [plugin](https://github.com/ls-age/rollup-plugin-add-shebang) which adds the shebang afterwards so that u

[2019-05-24 10:15] daniele-zurico opened #110 "extend rollup configuration"
### Current Behavior
At the moment there's no way to add other configurations to rollup. In my case I would like to add support to css modules but this is not possible because it require a configuration in rollup as well

### Desired Behavior
Extend rollup config

[2019-05-24 11:33] hedgerh commented on #110
it would be nice if there was a way to extend the config if needed, particularly when it comes to adding rollup plugins or babel plugins.  is there a reason this wouldn't be a good feature?  i wouldn't mind picking this up if it could be added.

[2019-05-24 13:48] jaredpalmer commented on #101
Can someone explore this?

[2019-05-24 14:09] hedgerh commented on #101
I can take a look, but need to gather a little context.  Looks like there's a PR to add `preset-env`? https://github.com/palmerhq/tsdx/pull/102

should the output be compiling down, but something's up with the cjs settings?

[2019-05-24 15:00] hedgerh commented on #109
Took a look into this.  What's the desired output?  A shebang in each bundle, or one in `dist/index.js`?  If the former, one way I got it to work is by changing the preserve shebang plugin's `processEntry` function to remove the shebang from the files before being processed and rewrite them to disk:

[code]

not sure if there's a better way to do that, but it worked.  on the flip side, it seems pr

[2019-05-24 15:08] jaredpalmer commented on #101
Honestly I haven’t diagnosed the root issue. What I know right now is that Formik’s old Rollup config was fine (on master), but the tsdx is not for cjs

[2019-05-24 15:09] hedgerh commented on #101
Np. I can hunt for the root issue.  I just wanted to confirm what the expected behavior is.

[2019-05-24 15:28] sw-yx commented on #110
i like this, tho its not my call

[2019-05-24 17:29] hedgerh commented on #101
Figured it out.  There was a `tsconfigOverride` declared in the typescript rollup plugin that forced `target` to `esnext`.  Changed it to default to `es5` and it can be declared in a tsconfig at the project level.  https://github.com/palmerhq/tsdx/pull/111

[2019-05-24 17:44] #101 closed

[2019-05-25 06:44] sw-yx opened #112 "[feature?] run `yarn init` right after to initialize package.json details. possibly git init too."
### Current Behavior

right now the immediate output of tsdx is not publishable. in particular, git isn't initiated, which we could do, and also there isn't a repository defined in package.json. No license, no description.

### Desired Behavior

high quality package.json resulting from tsdx scaffolded libraries.

### Suggested Solution

running `yarn init` or `npm init` would walk the user through

[2019-05-25 10:07] hedgerh commented on #104
i could pick this up, unless there are any more pressing issues.  looks pretty straight forward with being able to use `tsc-watch` for reference.

[2019-05-25 12:37] jaredpalmer commented on #112
I would prefer we do not add any more prompts to the init command. We want to keep that frictionless. I don’t think we should initialize git either. As for publishing, I’d rather build out a publish command that wraps or forks np that would ensure the package is publishable and handle any missing details

--
Jared

________________________________
From: swyx <notifications@github.com>
Sent: Saturd

[2019-05-25 14:40] sw-yx commented on #112
ok

[2019-05-25 14:40] #112 closed

[2019-05-26 01:25] sw-yx commented on #80
just for learning's sake what would be the benefit of bundling everything in 1 .d.ts vs all separate?

[2019-05-26 01:28] sw-yx opened #113 "[Bug? Feature?] re-export self defined `.d.ts` files"
### Current Behavior

say i'm using a library that has no typings. so i have to make my own `.d.ts` file:

![image](https://user-images.githubusercontent.com/6764957/58376221-bf3cc000-7f33-11e9-93eb-06d5320f82b1.png)

however once i build my project, the reference is gone:

![image](https://user-images.githubusercontent.com/6764957/58376227-e1ced900-7f33-11e9-8ce4-1a77a292acdc.png)

### Expected b

[2019-05-26 01:28] sw-yx commented on #113
cc @hedgerh and @aleclarson as i feel you two probably know what i should be doing in this scenario..

[2019-05-26 01:56] hedgerh commented on #113
I haven't dealt with this, either, but I'm looking into it.  Seems like it's pretty easy if it's published to DefinitelyTyped, you can just declare it as a dependency.  Also, from what I'm reading, it kind of sounds like Typescript will swoop up any typedefs that are in the root of your project?  I'm not sure, though.

[2019-05-26 01:59] hedgerh commented on #113
This part from the TS publishing doc is interesting, though.  I wonder if it's because you don't want to potentially include typedefs that'll collide with some the consumer would pull in?

![image](https://user-images.githubusercontent.com/2524280/58376391-416eb980-7f1f-11e9-9255-5ba211d85dfe.png)

[2019-05-26 02:23] sw-yx commented on #113
yeah i couldnt parse it either.  :(

i did submit my `.d.ts` files up to DefinitelyTyped, but am wondering what I'm supposed to do in the meantime. for now, VSCode is showing an error but typescript is still inferring `any` for this definition that it can't find. i wonder if this is how its supposed to be.

[2019-05-26 20:21] aleclarson commented on #113
How is `src/frecency.d.ts` being found by TypeScript? Did you include it in `tsconfig.json` or something? I think you need to copy `.d.ts` modules into `dist/` manually (which is [what react-spring does](https://github.com/react-spring/react-spring/blob/63f3a024ffc1383b93d99cd0c41c3e838b7b9b10/package.json#L15)).

[2019-05-26 21:26] techniq opened #114 "Broken build with `tsdx build --format es`"
### Current Behavior

In an attempt to speed up my builds (and not need the other formats), I attempted to only build for `es` by changing the `build` script in `package.json` to `tsdx build --format es` but in doing so, it fails with

![image](https://user-images.githubusercontent.com/177476/58387234-ac7cc680-7fd9-11e9-83c9-727c368edcca.png)

I thought this might be fixed by this [commit](https:/

[2019-05-26 21:29] aleclarson commented on #80
Cleaner `dist/` folder, I guess. And it better mirrors the fact that the source code is bundled. Definitely just a "nice to have".

[2019-05-28 14:26] huchenme commented on #105
Is it ok for me to take up this issue and get familiar with this library? This repository is so good that I would love to spend time learning from it and hopefully contribute!

[2019-05-28 14:32] huchenme commented on #105
Actually, I am not to reproduce this issue by repeating the steps

[2019-05-28 18:05] techniq commented on #114
The root issue appears to be if you exclude `cjs` from the formats, so `tsdx build --format cjs,es` works, but not just `tsdx build --format es` due to `inputOptions` being null [here](https://github.com/palmerhq/tsdx/blob/cce9d53cc88fd22675e20697619661738cdc07b5/src/index.ts#L354).

Excluding `umd` using `--format=cjs,es` has dropped a minute or so off my builds, which helps.

[2019-05-28 23:41] aleclarson commented on #80
Oh boy https://github.com/timocov/dts-bundle-generator

[2019-05-29 08:31] jbadeau commented on #114
`--format=none`

would also be useful

[2019-05-29 09:00] kirjai opened #116 "Example in React template throws cannot resolve dependency 'react'"
### Current Behavior

When creating a new library with `tsdx`, by running `npx tsdx create some-name` and choosing the `react` template, when attempting to run the example, the build fails with a `Cannot resolve dependency 'react'` error.

### Expected behavior
Build should not fail.

### Suggested solution(s)
From what I understand, because the `package.json` inside `example` defines `react` and

[2019-05-29 14:58] sw-yx commented on #114
@techniq it sounds like you're pretty close to a solution, want to propose a fix?

[2019-05-29 15:01] sw-yx commented on #116
hello, the reason we did #88 this is because we need to ensure the same instance of react inside `example` as we do in the hooks lib.

i think the real fix is to have `react` and `react-dom` as devDeps as well as peerDeps at the top level. I'll do that.

[2019-05-29 15:09] sw-yx commented on #64
@mikecousins you can always add a script to install the latest version of your lib

[2019-05-29 15:31] jaredpalmer commented on #114
Seems like a straight forward fix. Can someone open a PR?

[2019-05-29 15:31] jaredpalmer commented on #105
Fixed in the latest release

[2019-05-29 15:31] #105 closed

[2019-05-29 15:32] jaredpalmer commented on #109
You just want it in the entry file that has it. Not in every one.

[2019-05-29 16:01] sw-yx commented on #116
i just tested a freshly created library from v0.5.12, using `yarn` it seems fine. so perhaps this is an `npx` issue.

[2019-05-29 16:19] kirjai commented on #116
Thanks for looking into this.

So I did some digging just now, prompted by your comments, and realized that when i was trying to replicate this issue, I was doing so inside a mono repo, managed by `lerna`. So looks like *that's* the reason the `alias` approach doesn't work for me.

As far as i understand, in a mono repo, some dependencies are installed in the root of the repo, that's why `react` a

[2019-05-29 16:41] #109 closed

[2019-05-29 16:49] sw-yx commented on #116
sure, PR welcome. basically users of tsdx should feel comfortable enough modifying the templated pkg.json to their needs, i dont think we wanna support every use case. but i'm happy to document it.

[2019-05-29 19:03] jaredpalmer commented on #80
Yeah this would be cool. Seems experimental though?

[2019-05-29 19:05] aleclarson commented on #80
I'm trying it on react-spring in a little bit. We'll see how it goes. Would definitely be an opt-in feature in tsdx.

[2019-05-29 19:19] techniq commented on #114
@sw-yx @jaredpalmer I don't have time right now (trying to hammer out some items before going on vacation -- just went went form 27% to 99% Typescript in a project and having to update a lot of my components accordingly, along with providing actual features).

If it's still open in a few weeks I can take a stab at it.  My workaround is getting me by for now.

[2019-05-29 19:35] sw-yx commented on #114
haha enjoy your vacation

[2019-05-29 22:26] aleclarson commented on #80
Both `rollup-plugin-dts` and `dts-bundle-generator` include types from `node_modules` dependencies in the output bundle, which is probably not what we want. According to [this comment](https://github.com/timocov/dts-bundle-generator/issues/68#issuecomment-455119794), the `@microsoft/api-extractor` package does *not* do that.

More details: https://api-extractor.com/pages/setup/configure_rollup/

[2019-05-29 22:39] arvigeus opened #118 "Add "preset": "ts-jest" to jest config"
### Current Behavior

Some tools like VSCode's Jest plugin fail. Running tests normally works fine

### Expected behavior

Tests should work

### Suggested solution(s)

Add `"present": "ts-jest"` to `createJestConfig`.

[2019-05-30 02:35] huchenme commented on #105
@jaredpalmer do you think [this PR](https://github.com/palmerhq/tsdx/pull/115) is valuable? if not I could close it

[2019-05-30 04:24] mattoni commented on #91
I'd like to add to this, that using absolute paths for imports is causing resolution issues in my generated declaration files. My index.ts looks like this:

[code]

and in my declaration files I'm getting stuff like:

![image](https://user-images.githubusercontent.com/5110855/58608382-23bf8e00-8258-11e9-88ee-bb213a742431.png)

[2019-05-30 04:33] timocov commented on #80
@aleclarson can you please show how did you test it? Afaik by default `dts-bundle-generator` treats node_modules as external folder and shouldn't include anything from it (except imports).

[2019-05-30 06:54] #116 closed

[2019-05-30 08:31] Swatinem commented on #80
Since `rollup-plugin-dts` is based on rollup, you have to configure it accordingly, which in this case means you need to add everything to `external` that you don’t want to put into the bundle.

[2019-05-30 11:35] aleclarson commented on #80
@timocov @Swatinem Thanks for the info! I would definitely prefer using one of your libraries, since API Extractor has awful configuration requirements.

[2019-05-30 12:02] jaredpalmer commented on #118
I think someone tried to solve this in #75, but this generated absolute paths to tsdx's jest plugins.

[2019-05-30 12:05] jaredpalmer opened #120 "Remove UMD format from default build outputs"
It's really really slow to build for UMD and very very few modules really need to have a standalone `<script>` tag-ready output.

Thoughts @sw-yx ?

[2019-05-30 12:14] TrySound commented on #120
I use umd dev/prod bundles to track library size with bundled dependencies for development and production.

[2019-05-30 12:15] jaredpalmer opened #121 "Add ability to specify custom tsconfig.json"
### Current Behavior

TSDX merges `./tsconfig.json` and its internal overrides.

### Desired Behavior

[code]

### Suggested Solution

Add the flag to `build`, `watch` (and `test`?) commands

### Who does this impact? Who is this for?

err'body in da club. More specifically I need this in Formik. The reason is the Formik has multiple tsconfig's to support vscode, tsdx, and storybook. **This would

[2019-05-30 12:21] timocov commented on #80
Dependencies from local files of course. All external deps it'll import/or add via triple-slash directive (depends on where typings are) by default, but what should be imported/inlinded can be changed via CLI args (or config file).

[2019-05-30 12:41] natemoo-re opened #122 "Add monorepo template"
### Current Behavior

Currently, users can scaffold out a monorepo manually, then add `tsdx` as a dependency at the root of the project.

### Desired Behavior

Users should be able to scaffold out a monorepo project using `npx tsdx create`. Just like the current templates, users could pass a flag or select from the interactive prompt.

### Suggested Solution

Create two new templates, `monorepo-ba

[2019-05-30 17:01] enesTufekci commented on #120
@jaredpalmer I was going to ask the same thing. Hey @TrySound you can still use `--format umd`. I am creating a pr for this.

[2019-05-30 20:56] sw-yx commented on #121
https://github.com/palmerhq/tsdx/pull/124

[2019-05-30 20:56] #121 closed

[2019-05-30 20:58] sw-yx commented on #120
i agree it should be a flag not a default. we’re gonna need a tsdxrc soon...

[2019-05-31 12:45] natemoo-re commented on #61
Would folks be open to updating the default `testMatch` at [createJestConfig.ts:15](https://github.com/palmerhq/tsdx/blob/22ee1d09b59bf0f5cf1f69983c3ff28395cfdbfd/src/createJestConfig.ts#L15) to support this out of the box?

The version below would support both use cases _and_ running `tsdx test` from the root of a monorepo [cc #122](https://github.com/palmerhq/tsdx/issues/122).

[code]

This may

[2019-05-31 13:08] jaredpalmer commented on #120
Not yet.

[2019-05-31 13:28] mormahr commented on #61
Yes also: the __tests__/ convention (without needing .test. in the actual test/spec file).

Essentially: Why not use the default jest config of [`(/__tests__/.*|(\\.|/)(test|spec))\\.[jt]sx?$`](https://jestjs.io/docs/en/configuration#testregex-string-array-string)?

[2019-05-31 18:28] #120 closed

[2019-05-31 18:29] jaredpalmer commented on #85
Not my style. Closing.

[2019-06-01 17:00] hedgerh commented on #104
Done.  Should probably get some tests up around it, though.
 https://github.com/palmerhq/tsdx/pull/130

[2019-06-01 17:08] hedgerh commented on #63
I think this could probably be closed and rolled up (haha get it) into https://github.com/palmerhq/tsdx/issues/110

[2019-06-01 17:15] hedgerh commented on #103
This is because the files passed to `setupFiles` in the jest config are ran before the test framework is installed in the environment.  You should use `setupFilesAfterEnv` for any setup files that need to use globals like `afterEach` or `expect`.

Read more here: https://jestjs.io/docs/en/configuration#setupfilesafterenv-array

[2019-06-01 17:18] daniele-zurico commented on #110
They’re different one ask for scss support the other one is extendible rollup config that open to more opportunities ... something like —eject

[2019-06-01 17:47] hedgerh commented on #110
I think it falls under this.  If tsdx exposed a way to customize the rollup config, you could add scss or postcss support by adding your own rollup plugins.

I'm very much in favor of this feature, though.  I've been having to use `react-app-rewired` on some CRA projects and its annoying to not have it built-in.  Plus, I can't think of any real reasons to not let people customize things when they

[2019-06-01 18:01] hedgerh commented on #106
@andyboythekid is the library you added tsdx to on github?  would be interested to see it.  im not sure how easy it'd be to automate adding `tsdx` to an existing library.  it may not be so bad, but possible issues:  differing ts configs, differing rollup/babel plugins, differing folder structures.  it'd also have to overwrite your current npm scripts.  it could be really cool if someone could just

[2019-06-01 19:23] andyboythekid commented on #106
that’s what i ended up doing, just a fresh project and copied everything over, seemed simple enough. here’s the project i added it to: https://github.com/andyboythekid/react-native-navigation-library

[2019-06-01 19:58] nareshbhatia commented on #103
Wow! Couldn't have figured this out without you. You are the best, @hedgerh!

[2019-06-01 19:58] #103 closed

[2019-06-03 03:22] sw-yx commented on #106
alright i'mma close this one. someday a guide may be warranted. but ideally i'd like everyone using tsdx to be comfortable figuring this one out if they need it since the scope of migrations is very large.

[2019-06-03 03:22] #106 closed

[2019-06-03 04:37] hedgerh commented on #114
This can be closed as well, per https://github.com/palmerhq/tsdx/pull/128 getting merged.

[2019-06-03 11:32] #114 closed

[2019-06-05 00:21] aleclarson commented on #120
Maybe `tsdx create` should have a `--umd` flag that adds the `umd` entry to `package.json`. Then `tsdx build` can just check `package.json` to know when to build the UMD bundle.

[2019-06-05 00:47] aleclarson commented on #6
And you'll want `"moduleResolution": "node"` in your `tsconfig.json`

[2019-06-05 18:46] aleclarson commented on #80
This is an overview of `.d.ts` bundlers that I've tried to use with Rollup.

### rollup-plugin-dts

- 🎉 Easily plugs into Rollup
- 👎 Must use `.d.ts` modules (https://github.com/Swatinem/rollup-plugin-dts/issues/31)

### dts-bundle-generator

- 👎 Dependencies must transpiled into `.d.ts` modules (or have an associated `@types` package)
- 👎 Must write your own Rollup plugin

### dts-generator

- 🤨

[2019-06-05 19:02] timocov commented on #80
@aleclarson great job 👍!

Does it related to https://github.com/timocov/dts-bundle-generator/issues/53? I'm not sure how it will even work, because afaik TypeScript compiler doesn't compile source files from node_modules.

[2019-06-07 07:23] FredyC opened #132 "[Suggestion] Allow specifying external module names for UMD (rollup output.globals)"
### Current Behavior

![image](https://user-images.githubusercontent.com/1096340/59087581-5a0aa680-8905-11e9-9ad3-ce7a683b9aa9.png)

### Expected behavior

It does guess the names correct in this case but a nicer output would be great. You may notice that guessed name for the last `react-dom` is not even visible. It could lead to unexpected results if it would guess in the wrong way.

### Suggeste

[2019-06-07 10:19] sw-yx commented on #132
this one [comes from rollup which comes from node](https://github.com/rollup/rollup/issues/1051). tbh i'd like to suppress this output altogether if we're not even building UMD.

[2019-06-07 10:24] FredyC commented on #132
Well, as I said, why not to get inspired by microbundle? I like the way they tackled it in there with CLI option.

https://github.com/developit/microbundle#all-cli-options

[2019-06-07 12:12] aleclarson commented on #80
Now that https://github.com/Swatinem/rollup-plugin-dts/pull/32 is merged, my needs are satisfied by `rollup-plugin-dts` and I would recommend it for `tsdx` too. 👍

[2019-06-07 14:08] mikl opened #133 "baseUrl: "./" confuses VSCode and Jest (and me)"
### Current Behavior

When editing a file like `src/middleware/healthCheck.ts`, and having VS Code automatically import something from another file (`src/util/checkHttpMethod.ts`) based on autocomplete, VS Code will generate a statement like:

[code]

However, this appears to be incorrect.

When the compiler runs (from `npm start`, ie. `tsdx watch`), it will say the following:

And worse yet, when

[2019-06-07 14:20] arnaud-zg opened #134 "[Suggestion] Automated dependency updates"
### Current Behavior

It seems like dependencies are updated manually.

### Desired Behavior

In order to avoid risk of bugs or security holes, it could be a great if we can be noticed by third party modules updates like `rollup`, `babel`, etc.

### Suggested Solution

RenovateBot: https://renovatebot.com/

### Who does this impact? Who is this for?

All users

### Describe alternatives you've con

[2019-06-07 15:47] sw-yx commented on #133
vscode and typescript do read `baseUrl` fine, but this is actually more of a rollup issue. see https://github.com/palmerhq/tsdx/issues/91

[2019-06-07 16:14] sw-yx commented on #78
The code for this is actually pretty simple: https://github.com/facebook/react/tree/master/scripts/error-codes

[2019-06-08 20:10] Braden1996 opened #135 "Incorrect Declaration Map Source"
### Current Behavior

I am currently using `tsdx` to run the core package within my monorepo. When I import something from the core package and click through in my editor I end up in the declaration file - not the source file as I would expect.

Source file (`packages/core/src/`):
[code]

Declaration file (`packages/core/dist/config/colors.d.ts.map`):
[code]

### Expected behavior
When I click-thr

[2019-06-09 07:01] sw-yx commented on #135
i think this is because tsdx is meant to be for libraries you publish, where this is typically the default behavior (in particular, you might not publish the typescript source files). you might just be using tsdx beyond its intended purpose.

however it might allow you to extend rollup config in future if jared wants this https://github.com/palmerhq/tsdx/issues/110

[2019-06-09 12:28] jantimon opened #136 "[Suggestion] Allow to set terser mangle options"
### Current Behaviour

Right now TSDX provides good defaults for `terser` / `uglify-es`.
Unfortunately fine tuning prop mangling is not supported right now.

### Desired Behaviour

As a library author file size is important for me.
Using prop mangling on a project saved ~10% in size (after gzip).

For example given the following code:

[code]
Minifying it with `terser`/`uglify-es` reduces the foll

[2019-06-09 15:18] sw-yx commented on #136
great writeup. we'll probably enable this through a general "extend your own rollup config" option #110

[2019-06-10 03:08] sw-yx opened #137 "[idea] use production profiling build in react example playground"
### Current Behavior

it can  be helpful to use the new devtools profiler in production (https://fb.me/react-profiling). it has different characteristics than in dev. we dont enable this by default but we might as well for the playground where perf isnt as impt as debugging.

### Desired Behavior

profiler build by default

### Suggested Solution

set these parcel aliases:

[code]

### Who does th

[2019-06-10 16:40] jaredpalmer commented on #137
go for it

[2019-06-10 20:09] sw-yx commented on #137
i accidentally did this as a direct commit  (!!) rather than a PR, which is totally my bad. i think in this single case its fine but we might wanna turn off direct commits to master. anyway case closed.

[2019-06-10 20:09] #137 closed

[2019-06-11 07:53] jEnbuska opened #139 "Uncaught Error: TypeError: fs.readdirSync is not a function"
### Issue type

Bug

### Current Behavior

Project and example app builds when using 'npm start' & 'npm run build'
The page of examples app's content won't load.
The next error message is shown in browsers development tools:

[code]

### Additional context

Example repo:
https://github.com/jEnbuska/use-classname

### Your environment

Node 10.13.0

| Software         | Version(s) |
| -------------

[2019-06-11 08:16] sw-yx commented on #139
this error isn't very helpful. can you try to trace further up to see the root cause of the error?

[2019-06-11 08:34] jEnbuska commented on #139
This is unfortunately the whole error message.
<img width="1680" alt="Screenshot 2019-06-11 at 11 33 47" src="https://user-images.githubusercontent.com/11061511/59256508-cc98c080-8c3c-11e9-9517-697e74c4ec93.png">

[2019-06-11 08:36] jEnbuska commented on #139
I also have an issue with issues "./utils" & "./hooks" imports inside src, that cause 'npm ci' to randomply fail.

[2019-06-11 15:35] jEnbuska commented on #139
I had a bug in my own code. I was importing 'utils' instead of './utils' and that was causing the issue.
Thanks for the help and sorry for the trouble!

[2019-06-11 15:35] #139 closed

[2019-06-12 17:47] FredyC opened #140 "Production bundle for ES format is not enough for a development"
### Current Behavior

Webpack will use ES format but being in a development mode it means the wrong assumption from 3rd modules like `invariant` which then throws an error.

![image](https://user-images.githubusercontent.com/1096340/59373506-1cb17900-8d4a-11e9-807c-79cb18e8401d.png)

https://github.com/zertosh/invariant/blob/fae1c859f3eec25025dc6019bf7f7fdb78a27307/invariant.js#L26

### Expected b

[2019-06-12 17:50] TrySound commented on #140
I agree. ESM bundle should have NODE_ENV untouched.

[2019-06-12 17:56] jaredpalmer commented on #140
Can you send a PR? I am out of office today. Should be straight forward

[2019-06-12 18:14] FredyC commented on #140
Working on it :)

[2019-06-13 14:44] sisp commented on #63
[`create-react-library`](https://github.com/transitive-bullshit/create-react-library) is using `rollup-plugin-postcss`:

https://github.com/transitive-bullshit/create-react-library/blob/3375f3844fa0198e3db7ef715bebc784399f3e40/template/typescript/rollup.config.js#L30-L32

Is there anything wrong with this approach?

[2019-06-14 06:30] sisp opened #143 "Support Rollup input extension .jsx"
### Current Behavior

The file `src/index.jsx` is not recognized as a Rollup input:

https://github.com/palmerhq/tsdx/blob/943648edb06cd131f2c1751120cd1301804b480b/src/index.ts#L64-L69

### Expected behavior

It should be possible to have the file `src/index.jsx` as the Rollup input.

### Suggested solution(s)

[code]

### Your environment

| Software         | Version(s) |
| ---------------- | --

[2019-06-14 08:11] sisp commented on #143
Related to the this issue, TSDX currently does not seem to support importing `*.js(x)` files from `*.ts(x)` files because `rollup-plugin-typescript2` is not configured to process `*.js(x)` files.

https://github.com/palmerhq/tsdx/blob/943648edb06cd131f2c1751120cd1301804b480b/src/createRollupConfig.ts#L146-L162

The fixed configuration looks like this:

[code]

[2019-06-15 15:08] sisp opened #144 "@scope/package-name results in ugly build file names"
### Current Behavior

A package name that contains an NPM scope results in ugly build file names, e.g. `@myscope/mypackage` results in `myscopemypackage.{cjs,es,umd}.{development,production}.js[.map]`.

### Expected behavior

I would prefer to either add a dash between the scope and the package name, i.e. `myscope-mypackage.{cjs,es,umd}.{development,production}.js[.map]`, or to omit the scope enti

[2019-06-15 18:00] sisp commented on #63
I'd say in a React component library, everything should be self-contained after bundling. That's why I'd say all CSS should be treated as CSS modules, so there are no name conflicts with a consuming app or component library. With `inject === true`, `postcss` adds the function `styleInject` which injects the (processed) CSS as a `<style>` block in the `<head>` block when the library is loaded. I th

[2019-06-16 03:08] sw-yx commented on #144
really dont care but pr welcome to tweak the safeName function

[2019-06-16 03:10] sw-yx commented on #143
tsdx is quite evidently a typescript-first project. not a priority for me to support .js{x} but lets see what jared says

[2019-06-16 08:01] sisp commented on #143
That's true, but I was thinking to align tsdx's features with CRA and CRA with `--typescript` set also resolves .js{x} files.

[2019-06-16 19:33] PabloSzx commented on #94
Bug fixed with v0.5.10 commit af526a5fc672694bdef543da036af890427568a9

[2019-06-16 19:33] #94 closed

[2019-06-17 05:39] wachunga commented on #61
I prefer test files next to the source as well, and would prefer not to have to override the testWatch config in my package.json.

[2019-06-18 13:43] #140 closed

[2019-06-18 13:43] #144 closed

[2019-06-19 01:14] dance2die opened #148 ".gitignore file ignores pre-v0.7.1 version of "*.es" cache path instead of "*.esm""
### Current Behavior

The hot fix ab22779882af546fe23534aefddcf7c25b2094ec shows that

[code]

but `.gitignore` has `.rts2_cache_es` instead of `.rts2_cache_esm` thus causing cache files to be added to the git repository as shown below.

![demo](https://user-images.githubusercontent.com/8465237/59729663-6ea44400-920d-11e9-952c-75d40bc8609a.gif)

### Expected behavior

New cache folder after the HO

[2019-06-19 07:21] SeedyROM commented on #100
Currently it seems it ignores `jest.config.js` even if you pass in the --config flag to the `tsdx test` command. I literally put a throw at the top of my `jest.config.js` file and it clearly never gets imported anywhere.

I would like to specify some test setup configurations without having the manually import them each time.

[2019-06-19 08:49] SeedyROM opened #150 "Cannot set custom jest.config.{js,ts} even with --config flag in test CLI command"
### Current Behavior

The `test` command's `--config, -c` flags throw a nondescript error when passed any value.
[code]

This also doesn't load the `test` command in watch mode as the documentation specified.

### Expected behavior

Either having a `jest.config.{js,ts}` in the project root or specifying one via the config flag in your `tsdx test` should actually be loaded on setup.

### Suggested

[2019-06-19 12:19] karlhorky opened #151 "Use Babel 7 TS compilation and forked checker?"
### Current Behavior

TypeScript is both compiled and checked by [`rollup-plugin-typescript2`](https://github.com/ezolenko/rollup-plugin-typescript2).

### Desired Behavior / Suggested Solution / Alternatives

What are your thoughts on adding something to run type-checking code in a separate process, like [`fork-ts-checker-webpack-plugin`](https://github.com/Realytics/fork-ts-checker-webpack-plugi

[2019-06-19 12:20] karlhorky commented on #151
Ah it looks like there is an issue in the `rollup-plugin-typescript2` repo that is asking for this feature: https://github.com/ezolenko/rollup-plugin-typescript2/issues/113

So that may be a possible solution, in case that gets implemented.

[2019-06-19 12:36] karlhorky commented on #112
FWIW was just thinking this same thing, was going to submit an issue :)

Just leaving this here on the closed issue then!

[2019-06-19 13:54] #148 closed

[2019-06-20 16:06] Venipa opened #154 "Unexpected token export"
### Current Behavior
dist\index.d.ts:1
[code]

[2019-06-20 16:19] sw-yx commented on #154
provide a reproduction please

[2019-06-20 16:19] #154 closed

[2019-06-20 19:40] mattoni commented on #91
Just checking in to see if there is a solution to the absolute pathing that I'm missing, or if this issue is truly related. Would love to use tsdx, it's extremely valuable.

[2019-06-20 23:59] dance2die opened #155 "ESM module is not minified in v0.7.2"
### Current Behavior

Only one ESM module ("*.esm.js") is generated instead of "*.esm.production.js" or "*.esm.development.js"

![current behavior](https://user-images.githubusercontent.com/8465237/59888261-dfc23380-9394-11e9-99e4-903cca0a49a3.png)

I've also tried to pass the `--format cjs,esm,udm` but only one ESM file is generated.

![one esm](https://user-images.githubusercontent.com/8465237/5

[2019-06-21 07:24] TrySound commented on #155
Hi, this worked wrong. Two bundles required commonjs wrapper which breaks the point of using es modules and breaks all optimisations. All bundlers are able to replace NODE_ENV with production or development. This is a kind of standard for react modules. With webpack it's only one option `mode`.

[2019-06-21 12:34] pie6k opened #156 "Any guide about creating demo pages for created libraries"
eg. I'm creating react hook package and I'd like to create a simple demo page that is presenting it.

Could you provide some 'good way' of doing it?

[2019-06-21 12:51] sw-yx commented on #156
you can use the example playground we set up for you: https://github.com/palmerhq/tsdx/tree/master/templates/react/example

[2019-06-21 12:51] #156 closed

[2019-06-21 12:54] sw-yx commented on #155
basically i think this is working as designed. if you're using the ESM build, you're gonna want to do the minification higher up the chain. lmk if that sounds wrong @TrySound

[2019-06-21 18:30] dance2die commented on #155
Thank you. @TrySound & @sw-yx
I have questions in-line below.
_Sorry about the ignorance and I'd like to learn what I don't know._ 🙇‍♂️

@TrySound

Would having prod/dev ESM outputs break optimizations so one ESM file is generated?

I tried the build with "NODE_ENV" to "production" for `tsdx build` and the ESM is not minified.

I am not sure where Webpack fits 😅

@sw-yx

Would it require using Web

[2019-06-21 18:35] TrySound commented on #155
@dance2die You may use any bundler. All of them supports NODE_ENV replacement and minification.

There is not way to deliver two production and development bundles to user without requirement to manually alias paths. So we provide a single bundle which user bundler should process.

[2019-06-21 19:23] dance2die commented on #155
Ah. I kind of see what you mean.
Would my understanding be correct that,

1. v0.6.1 generated prod/dev versions for both ESM  & CJS bundles, it required users to set which path to be the main package to use using an alias path (would it be [resolve.alias](https://webpack.js.org/configuration/resolve/#resolvealias) in case of Webpack?)

2. CJS is in prod/dev bundles as to follow React module practi

[2019-06-21 19:40] dance2die commented on #155
I will close the issue as this is working as designed.

[2019-06-21 19:40] #155 closed

[2019-06-22 02:05] jaredpalmer commented on #156
Probs worth adding a paragraph to the docs about deploying to netlify or Gh pages

[2019-06-22 02:09] jaredpalmer commented on #155
Tbh I copied the esm setup from microbundle which I think builds minified esm. Maybe so you can use `<script type=module>` or something idk? Anyways. It is working as expected. It’s up to your app to optimize it

[2019-06-22 13:11] dance2die commented on #155
Thank you, Jared.
Will do more research 🙂

[2019-06-26 13:15] smashercosmo opened #161 "jest occasionally tries to transform json files"
### Current Behavior

Once in while I get the following warnings when I run 'tsdx test' command:
[code]

### Expected behavior

jest shouldn't try transforming json files

### Suggested solution(s)

Probably 'json' should be added to transformIgnorePatterns in jest config

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | 0.7.2
| TypeScrip

[2019-06-27 15:21] kevinold commented on #6
@jaredpalmer I'd love to use tsdx to compile code for Lambda's, but think I'm missing something in that a `yarn build` doesn't include dependencies in the `dist` files.

I have a simple tsdx project here with 2 dependencies, but neither (`aws-sdk` and `lodash/kebabCase`) and neither are in the `dist` from a `yarn build`.

What am I missing to allow these dependencies to be in the build files so I

[2019-06-27 15:31] kevinold commented on #6
Found the answer in that UMD was disabled by default -- https://github.com/palmerhq/tsdx/commit/e81f5a6e44b1026e27030ac5fa1c21e0e09d22bf

[2019-06-27 16:29] kevinold commented on #6
Thought I found the answer, but even producing a UMD build does not bundle the dependencies.  I took a look at the rollup config and feel like it should work, but not certain what I'm missing.

Any help is appreciated.

[2019-06-28 02:33] hedgerh commented on #104
Forgot I opened a PR for this.  My branch is stale now with some conflicts, but I can work it out if there's actual interest in adding it to tsdx.  Lemme know

[2019-07-06 16:23] rtbenfield opened #165 "Default export not output as expected"
### Current Behavior

TSDX doesn't seem to have the expected output when building a package with a default export. The type definitions are output as expected, but the resulting `.js` file actually exports as `{ default: /* value */ }`. I've created a minimal, reproducible example at [rtbenfield/tsdx-default-export](https://github.com/rtbenfield/tsdx-default-export) bootstrapped from `tsdx create`

[2019-07-06 19:13] sw-yx commented on #165
confirmed that i have run into this issue before, but jared [has a strong view that we shouldnt use default exports anyway](https://github.com/palmerhq/typescript#exports) and this is his tool so i didnt bother doing anything about it. if you'd like to introduce a warning, or error, or fix the output as long as it doesnt affect the experience for named exports, i'd be open to that

[2019-07-06 19:42] markerikson commented on #132
I'm playing around with trying to use TSDX with Redux Starter Kit, and the guessing behavior is pretty unhelpful.  It's producing this output:

[code]

Pretty sure none of those match the actual global names from the UMD builds of those respective libs.  (Not that I expect a build tool to actually parse or come up with those correctly.)

[2019-07-06 20:02] jaredpalmer commented on #132
Sounds good. —external makes sense

[2019-07-06 20:12] phryneas commented on #80
I would very much appreciate something like this - right now, I can't import anything from any .d.ts file except from the index.d.ts - as they don't have accompanying .js/.ts files and webpack refuses to `import` where only a `.d.ts` exists, but no file with a webpack-configured extension.

Re-exporting everything I need from the index.js/.d.ts on the other hand does not play well with babel-prese

[2019-07-09 17:44] z0al commented on #67
Doesn't occur anymore

[2019-07-09 17:44] #67 closed

[2019-07-11 16:05] #78 closed

[2019-07-11 17:22] jaredpalmer opened #166 "Investigate how Framer extracts type info"
Framer does some pretty nifty stuff to keep types sync'd up with docs. It would be great if tsdx could leverage this.

Code of Interest: https://github.com/framer/api-docs/tree/master/api
Site: https://www.framer.com/api (it uses Framer's monobase SSG)

[2019-07-14 02:37] agilgur5 opened #167 "No support for test build, breaks `process.env.NODE_ENV === 'test'`"
### Current Behavior

`tsdx` does not create a `test` build and will end up loading the `development` build when `process.env.NODE_ENV === 'test'`. But the `development` build has replaced `process.env.NODE_ENV` with `'development'`.

This causes some issues if one puts a `process.env.NODE_ENV === 'test'` in their source code as it will always be false. This is what I experienced in https://github

[2019-07-16 18:39] RJahnavi commented on #91
Not sure if the below issue is related to this thread or not:
Rollup changes import of absolute path to relative path while bundling

I am importing a absolute path in some files of my repo and try to bundle it with rollup
My import where /api/ is absolute path:
import * from '/api/myFile.js'

But when I bundle it, rollup changes it to relative path and it looks like:
import * from from '../../../

[2019-07-16 21:35] agilgur5 commented on #165
Hi there, so I just experienced this bug too in my package (`mst-persist`, referenced above). This caused an unintentional breaking change as the lack of `__esModule` in the CJS output means default imports don't work in transpiled code.

Per @rtbenfield's example, if one is transpiling their code from ESM to CJS, they might be using default imports which will then fail when transpiled.
Most testi

[2019-07-17 07:11] sw-yx commented on #91
no idea tbh. not spending any time on this right now. i'll return to this once i'm in build mode. happy to take a look at PRs

[2019-07-20 08:55] Albert-Gao opened #168 "add docs for running tests with VS Code"
Thanks for this awesome tool.
Everything works well except for debugging the test in VSC

I have to manually add ts-jest config in package.json when using vsc jest plugin, and manually remove it when using `tsdx test`

What am I missing?

[2019-07-20 21:59] agilgur5 commented on #143
I'm not having this issue, but I think if `tsdx` supports `.js` it should also support `.jsx`. That would also add better support for gradual migrations to TS.

[2019-07-23 06:37] andrico1234 commented on #110
I'd like to +1 this feature. The primary struggle I've come across when using this package (which has otherwise been a delight), is the lack of capability to extend the babel-config. This has caused issues when it's come to styling.

The docs say that TSDX has no opinion on styling, but with my experience, the lack of babel extending really limits what I'm able to accomplish. Emotion requires a ba

[2019-07-24 00:06] bbugh commented on #7
I just started using tsdx and found the lack of linting surprising!

I've added linting with `@typescript-eslint` with `prettier` integrated, using `lint-staged` with husky for running on staged files, and it's worked out very well.

Does that sound useful for a patch?

[2019-07-24 15:30] sw-yx commented on #7
we have a tsdx lint command that is a bit stale - https://github.com/palmerhq/tsdx/pull/99 i havent been involved with the discussion tho and am not sure what @jaredpalmer's plan is here

[2019-07-24 17:29] jaredpalmer commented on #165
Ahh. Yeah I'm sorry about this guys. I don't use default exports and I can go in depth as why you should not either. We should probably just document this in the README if there is no quick fix

[2019-07-24 18:39] agilgur5 commented on #165
@jaredpalmer the quick fix would be:

[code]

I can submit a PR for that, but it's pretty hacky so idk if that's acceptable.

I think the big issue with not supporting default exports is that it limits `tsdx` to use only by 1) new libraries, 2) libraries that already don't use default exports, or 3) libraries willing to make a breaking change to incorporate `tsdx`.

[2019-07-25 07:04] agilgur5 commented on #165
Upon testing, the quick fix does not seem to work as `opts.tsconfig` is only defined when you pass a custom `tsconfig` to `tsdx`. Not entirely sure where a standard app root `tsconfig` is read (it's not in `tsdx` source code afaik, so I guess only in `rollup-plugin-typescript2`?).

Could make that the default arg for the option.
Alternatively, could check against the app root right here as well if

[2019-07-28 09:27] xaviergonz opened #169 "use babel-plugin-transform-runtime for generator function support"
### Current Behavior

Right now, when using generator functions, a global import of regenerator-runtime is required, which means that either the library consuming project has to import it itself, or that the library has to import it (which can cause problems due to different versions of the regenerator-runtime being possibly imported.

### Desired Behavior

The library should use its own version o

[2019-07-29 06:56] Meemaw opened #170 "ReferenceError: Must call super constructor in derived class before accessing 'this' or returning from derived constructor"
### Current Behavior

cjs loader crash:

<img width="1202" alt="Screenshot 2019-07-29 at 08 51 48" src="https://user-images.githubusercontent.com/8524109/62027568-46c9d800-b1de-11e9-9a95-cb1ddca854b7.png">

### Expected behavior

Things should work -- they worked on tsdx version `0.5.8`

This happens after upgrading tsdx from `0.5.8` to `0.7.2`. CJS loader complains super() is not being called eve

[2019-07-30 20:40] wKovacs64 opened #171 "Tree-shaking not working as expected"
### Current Behavior

When building a project with `tsdx` and exporting multiple things (all named exports), the dependencies (imports) of unused modules (that is, modules the consuming project does not import) all end up in the final consuming bundle. So, importing `Thing1` will also import dependencies of `Thing2` (even though `Thing2` itself is tree-shaken away). I'm probably just doing somethi

[2019-07-30 21:02] TrySound commented on #171
Could you commit please gatsby output?

[2019-07-30 21:09] wKovacs64 commented on #171
Done ([`consumer/public`](https://github.com/wKovacs64/tsdx-treeshaking-test/tree/master/consumer/public)), thanks for looking at it!

[2019-07-30 21:11] TrySound commented on #171
Could you point me where you found both functions? I'm not experienced with gatsby.

[2019-07-30 21:20] wKovacs64 commented on #171
To be clear, I'm not seeing both functions (`Thing1` and `Thing2`), I'm seeing `Thing1` (good) and Emotion (bad). I'm not sure exactly where in the build output it lives, I just observed it in webpack-bundle-analyzer and the overall size of the final output directory. I tried it with Parcel as well (not included in the reproduction repo), and I suspect (untested) Create React App will include it t

[2019-07-30 23:42] wKovacs64 commented on #171
I added 2 more example consumer projects, one for Create React App and one for Parcel (essentially the tsdx example project), if that helps.

- [`consumers/cra/build`](https://github.com/wKovacs64/tsdx-treeshaking-test/tree/master/consumers/cra/build)
- [`consumers/parcel/dist`](https://github.com/wKovacs64/tsdx-treeshaking-test/tree/master/consumers/parcel/dist)

[2019-07-31 12:29] honzabrecka opened #172 "Name of async recursive function is stripped away"
### Current Behavior

Following code:

[code]

 is being compiled to:

[code]

Fails with `run is not defined` - see comments above for explanation.

### Expected behavior

Does not strip function's name

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | 0.7.2
| TypeScript       | 3.5.3

[2019-07-31 14:34] honzabrecka commented on #172
Causd by babel-plugin-transform-async-to-promises babel plugin, reported here https://github.com/rpetrich/babel-plugin-transform-async-to-promises/issues/37

[2019-08-01 12:04] gmpetrov opened #174 "Content of file.d.ts not injected in dist/index.d.ts"
Hello, I'm new to typescript, and I don't understand what is the good way to declare an interface for it to be exported within the build.

### Current Behavior

In src/global.d.ts, I have interfaces declared as:

interface Hello {
  world: string;
}

After the build, dist/index.d.ts does not contain interface Hello.

### Expected behavior

After the build, dist/index.d.ts is containing interface H

[2019-08-02 09:13] fnky opened #175 "Multiple entries not outputting multiple entry points"
### Current Behavior

When building source with multiple entries, using `--entry src/**.ts` the build only uses the source of the first file it finds as the main entry point for ESM and CJS output.

### Desired Behavior

It would be nice to be able to specify multiple destinations for different source files from a single codebase.

### Suggested Solution

A solution could be to change the behavior

[2019-08-04 00:53] rpetrich commented on #172
Should be resolved by updating to 0.8.14 of babel-plugin-transform-async-to-promises

[2019-08-04 02:42] wKovacs64 commented on #171
I guess technically tree shaking is working because `Thing2` is absent from the final bundle. To get Emotion pruned, perhaps that would be Rollup code-splitting? Sorry, not sure about the exact terminology. Regardless, this doesn't appear possible with the current tsdx Rollup config - agreed?

[2019-08-04 05:01] wachunga commented on #110
I would like to use the [serve](https://github.com/thgh/rollup-plugin-serve) rollup plugin. Is there at least a workaround for now?

[2019-08-05 04:15] sw-yx commented on #110
in general you can always use https://github.com/ds300/patch-package to tweak internals of any node_modules you're using. i'm not jared so i cant promise if this feature request is even accepted at all, but this kind of thing is extremely common in any tool that does bundling so i imagine it will eventually happen.

[2019-08-05 06:16] sw-yx opened #176 "[Feature?] gatsby-theme-tsdx? or docusaurus template"
### Desired Behavior

we have #78 but we need a simple hosting solution for people to navigate to their error codes.

### Suggested Solution

write a simple gatsby theme for this that can be tacked on to any docsite. or docusaurus template altho this is less customizable.

### Who does this impact? Who is this for?

users of libraries maintained with tsdx

### Describe alternatives you've consider

[2019-08-14 14:49] jaredpalmer commented on #176
Yep. I can see some kind of `gatsby-plugin-tsdx-errors` as well.

[2019-08-14 14:50] jaredpalmer commented on #172
@rpetrich can you submit a PR?

[2019-08-14 15:15] jaredpalmer commented on #110
Yeah. Just haven't had the time to deal with it. I have built this for backpack and razzle before. From an implementation perspective, it would should be a file called:`./tsdx.config.js` at the root. That file should work like this:

[code]

We need to add it to our paths file. We also then just need to call it prior to executing the actual build/watch and pass it in the config and options.

_We c

[2019-08-14 15:22] sw-yx commented on #176
(this is one of my todos but i've been busy. would help to have a simple design as i quite lack in that department)

[2019-08-15 12:14] luisrudge commented on #156
don't we need a playground for libs that are not react based? Like.. if you're creating a browser library, you'd expect to have somewhere to test that library, right? 🤔

[2019-08-15 13:41] luisrudge opened #178 "Add example playground for non-react projects"
### Current Behavior

When creating a non-react project, all you get is watching a build from a file, but you can't actually do anything with it. If you're developing a browser library, for example, you can't target this watched file from an html file.

### Desired Behavior

I think it makes sense to create an example project that consumes the library (maybe differentiate between a node and a brow

[2019-08-15 13:48] luisrudge opened #179 "External dependencies are not bundled in the UMD build"
### Current Behavior

My project has a few dependencies (`qs`, `fast-text-encoding` and `es-cookie`). When I build the UMD bundle, the dependencies are not bundled together with my code.

[code]

### Expected behavior

I expect all my dependencies to be bundled together with my code

### Suggested solution(s)

Maybe it's a rollup config? I have no idea :(

### Your environment

| Software

[2019-08-15 13:58] sw-yx commented on #178
no objections altho jared may not want to take on maintenance burden. may be better to develop this as a wholly separate example project and we can link to it

[2019-08-15 14:11] luisrudge commented on #178
I think exposing the watched file in an endpoint would be a good first start. It doesn't add the burden of maintaining a whole example folder and also enables me to reference the script from somewhere else. Althought not ideal, at least it would allow me to actually develop the library in development mode.

[2019-08-18 16:53] dance2die opened #181 "Enable CSS and SASS (SCSS, Sassy CSS) module support"
### Current Behavior

Current default configuration doesn't recognize either `.scss` and `.css` extensions.

![demo](https://user-images.githubusercontent.com/8465237/63227626-72752800-c1b6-11e9-9b02-63409488d27a.png)

### Desired Behavior

Enable support for SCSS and CSS module

### Suggested Solution

Honestly, as a novice TypeScript user I am not sure how to approach this issue.

### Who does t

[2019-08-18 17:10] dance2die commented on #181
Closing as a there is a related issue #110, if implemented, would solve this request.

[2019-08-18 17:10] #181 closed

[2019-08-20 22:58] JustFly1984 opened #182 "please remove eslint-config-react-app from dependencies, it is required only for react projects"
[code]

[2019-08-20 22:59] JustFly1984 commented on #182
also please update @typescript-eslint/eslint-plugin@1.13.0 to 2.0.0

[2019-08-20 23:37] jaredpalmer commented on #182
Can you submit a PR?

[2019-08-22 00:51] JustFly1984 commented on #182
@jaredpalmer
Which node version do you use to build? I will add `.nvmrc` to the project.

I'm running tests and getting an error:
<img width="731" alt="Screenshot 2019-08-22 03 50 30" src="https://user-images.githubusercontent.com/2255993/63477898-13523480-c490-11e9-8bdd-060eb8648b1c.png">

can't update stuff until you fix tests

[2019-08-23 08:58] malcolm-kee commented on #61
Is this possible now with v0.8?

[2019-08-26 04:43] sw-yx commented on #135
hey @Braden1996 could you please review https://github.com/palmerhq/tsdx/pull/183 and see if your rollup config works here? if you'd like some stuff included by default (e.g. sourcemaps plugin?) please mention there too

[2019-08-26 04:43] #135 closed

[2019-08-26 04:46] swyxio opened #184 "Sourcemaps for extractErrors plugin"
### Current Behavior

currently our [transformErrorMessages plugin](https://github.com/palmerhq/tsdx/blob/06b9b688a8880b3a9277782daade254ee7631e7c/src/errors/transformErrorMessages.ts) doesnt provide a source map. this [breaks sourcemap behavior downstream](https://github.com/palmerhq/tsdx/pull/183#issuecomment-524710274).

### Desired Behavior

sourcemapz

### Suggested Solution

add teh sourcema

[2019-08-26 12:12] azizhk commented on #179
We are facing similar issue:
Can tsdx allow us a way to change the `external`s functions.
https://github.com/palmerhq/tsdx/blob/73b152eca021ab4897efa92d8ec3abb893fc8b96/src/utils.ts#L21-L22

[2019-08-26 13:44] #172 closed

[2019-08-27 08:56] daniele-zurico opened #186 "[tsdx-config] Css module build fail"
Hi guys,
I just installed tsdx to try out the new functionality of the config file.
The step I followed are:
1) in the root of the project I created a file called `tsdx.config.js`:
[code]

2) I installed the 3 dependencies that are required;
3) in the src folder I create a file called: `style.module.css`
4) in the `index.tsx` I imported it:
[code]
5) running `yarn start`

[code]

Did I miss someth

[2019-08-27 11:59] daniele-zurico commented on #186
Sorry my bad. After trying different things I missed the `from` this is the right error message:

[code]

[code]

[2019-08-27 12:37] daraclare opened #187 "Support Testing with imports of JS files in ESM"
### Current Behavior
When running test files with that contain ES6 module imports with Jest, I get the following error:

[code]
Is there an existing recommendation for handling ES6/ESNext module imports, if so, could we add documentation around this? If it doesn't exist, could we add recommendation on how to handle it? I'm happy to help if I can.  Could this be a TSDX feature, to switch on and off

[2019-08-27 13:03] daniele-zurico commented on #186
can you please reopen? @sw-yx

[2019-08-27 13:38] daraclare commented on #187
Our tests are written in typescript and work fine, until we try to import another package of ours from the NPM registry, which is compiled to ES6. Then Jest complains about that test, with the error above. It still runs other tests that don't import packages in ES6. I'm assuming this is a common enough issue, maybe it's not 🤔

[2019-08-27 13:40] azizhk commented on #179
I think this should get fixed by #183 by creating a tsdx.config.js
[code]

[2019-08-27 14:22] daraclare commented on #187
What would you recommend as a workaround for now, should we add this to the docs?

[2019-08-27 14:22] daraclare commented on #187
Thanks for the quick replies both, btw!

[2019-08-27 15:56] daraclare commented on #187
I don't think we'd want to compile all our node_modules, just ones that are imported into tests, is that possible I wonder? What would be the best practice for resolving this with TSDX?

[2019-08-27 16:06] daniele-zurico commented on #186
@jaredpalmer I took the documentation from your readme :) this is what I'm trying out! If you look up on my comment you'll find the `tsdx.config.js` I'm using

[2019-08-27 16:12] daniele-zurico commented on #186
@jaredpalmer ok I'm confused. From the readme of https://github.com/egoist/rollup-plugin-postcss
they say:
https://github.com/egoist/rollup-plugin-postcss#css-modules
or in other words:
[code]
and is exactly what I added from your example.
Another thing if in my node_modules I look in the tsdx folder something related to tsdxconfig I'm not able to find any occurrence. I've installed 0.8

[2019-08-27 19:52] daniele-zurico commented on #186
Ahah I was sure about that. No problem it happen. I’ll have another try tomorrow morning and if everything is ok I’ll take care to close my ticket.
Thanks for the awesome work.

[2019-08-28 08:53] daniele-zurico commented on #186
despite this time, I can see in the node_modules the`tsdxConfig` I still got the same annoying error. Someone has been able to get it working?
Thanks,
Daniele.

[2019-08-28 13:28] NateRadebaugh opened #188 "Document migration to tsdx from microbundle"
### Current Behavior

All the current documentation is about bootstrapping a new project to use `tsdx`. There is nothing about how to add the `tsdx` toolchain to an existing project.

### Desired Behavior

With the comparisons to [microbundle](https://github.com/developit/microbundle), it'd be good to have documentation on how to migrate a project to use `tsdx` instead. If you want to avoid the ap

[2019-08-29 14:25] export-mike commented on #91
@sw-yx @jaredpalmer any examples on a mono repo with tsdx setup?

[2019-08-29 15:32] sw-yx commented on #91
no. check the other issues for other mono repo folks. we can maybe create an umbrella issue to look holistically at monorepo issues and appoint a maintainer to look after that bc i dont think either jared or i spend that much time in monorepo land.

[2019-08-29 17:16] NateRadebaugh commented on #188
From looking at https://github.com/natemoo-re/tsdx-monorepo/blob/master/package.json, it looks like the only deps  for a non-monorepo are these `devDependencies`:
[code]

Thus, the items to install would be:
[code]

Are any of these bundled into `tsdx` and can be removed?

[2019-08-30 10:20] daniele-zurico commented on #186
For all the people are struggling to add css modules to tsdx this is the solution:
1) Create tsdx.config.js
[code]
 yarn add rollup-plugin-postcss -dev
[code]

4) in the src folder create a file called style.module.css
[code]
5) in the index.tsx import it:
[code]
@jaredpalmer  feel free to close it or set as fixed or I can create a PR to your readme to add is an example. Up to you and thanks again

[2019-08-30 11:52] JustFly1984 commented on #186
@daniele-zurico @jaredpalmer  You can use vscode typed-css-modules plugin with npm typed-css-modules@0.5.1 instaled globally to create correct .d.ts files on save, or use npm dts-gen cli to do the same.

[2019-08-30 15:18] Syynth opened #190 "Conflict with using "await" keyword in function argument position inside condition"
### Current Behavior

Certain usages of await keyword break babel plugin. Here is the minimum repro I could come up with:
[code]
which results in the following error:
[code]
It happens in https://github.com/babel/babel/blob/master/packages/babel-traverse/src/path/lib/virtual-types.js#L153
after being called from https://github.com/rpetrich/babel-plugin-transform-async-to-promises/blob/master/async

[2019-08-30 16:09] sw-yx commented on #190
seems gnarly! i’m not even familiar with why we need babel-plugin-transform-async-to-promises, cant really help with this one, sorry.

[2019-08-30 23:50] ahnkee opened #191 "cjs bundle importing lodash-es instead of lodash"
### Current Behavior

After upgrading to `0.9.0`, cjs bundle is importing from `lodash-es`.
In my main project where I'm consuming the package created with tsdx, I'm getting this error:
![Screen Shot 2019-08-30 at 4 45 05 PM](https://user-images.githubusercontent.com/3364557/64056116-d6e49f80-cb45-11e9-80a5-7d3bfb3d7ffa.png)

This line of code:
`import { merge } from 'lodash';`

appears to be gett

[2019-09-01 19:54] skvale commented on #182
- eslint-config-react-app is used for more than just React projects
- Bumping @typescript-eslint/eslint-plugin to 2.0.0 has breaking changes not supported by the current version of eslint-config-react-app
- The warning of unmet/incorrect peer dependencies are coming from here: https://github.com/facebook/create-react-app/blob/master/packages/eslint-config-react-app/package.json.  babel-eslint does

[2019-09-02 08:35] JustFly1984 commented on #182
@skvale have you tried to run tests?

[2019-09-02 18:45] skvale commented on #182
It looks like the tests are passing from your screenshot

There is a noisy test for an invalid build: https://github.com/palmerhq/tsdx/blob/master/test/fixtures/build-invalid/src/index.ts

[2019-09-03 14:49] #191 closed

[2019-09-03 21:36] #186 closed

[2019-09-03 21:36] #7 closed

[2019-09-03 21:38] jaredpalmer commented on #161
Is this still happening?

[2019-09-03 22:49] smashercosmo commented on #161
I'll check

[2019-09-04 05:10] sadsa commented on #179
Hi there, what was the status on this after this release to 0.9.0?

[2019-09-05 00:46] sadsa opened #196 "npm script 'tsdx lint' fails"
### Current Behavior

1. Run `npx tsdx lint`.
2. Receive the following error:

`root@4c786263ba5c:/workspaces/core-web# npx tsdx lint

  Description
    Run eslint with Prettier

  Usage
    $ tsdx lint [options]

  Options
    --fix               Fixes fixable errors and warnings
    --ignore-pattern    Ignore a pattern
    --write-file        Write the config file locally
    -h, --help

[2019-09-05 02:08] sw-yx commented on #166
not sure i see it. was the investigation done? nothing there?

[2019-09-05 10:03] jaller94 opened #197 "Remove unused cross-env dependency"
### Current Behavior
´cross-env` is listed a s a dependency, but never used.
https://github.com/palmerhq/tsdx/blob/e942edbf9b74db611db9d4b095c5a742fdd97c99/package.json#L54

### Desired Behavior
`cross-env` does not get listed as a dependency.

### Suggested Solution
Remove `cross-env` from the list of dependencies.

### Who does this impact? Who is this for?
All developers

### Describe alternati

[2019-09-05 23:02] swyxio opened #198 "[R&D] explore adding webhints?"
never seen this before but saw this in a convo between TS team members:

https://webhint.io/docs/user-guide/hints/hint-typescript-config/

[2019-09-06 03:52] sadsa commented on #171
I'm currently experiencing the same issue when using 3rd party packages within the main project. When running `parcel` from within the example directory, the master package (i.e. the one we are basing our publishable package from) is being crawled for all code it depends references, making the final bundle size somewhere around 20mb!

Does anyone have any ideas on how to resolve this?

[2019-09-06 22:48] smashercosmo commented on #161
Still getting this warnings with latest tsdx

[2019-09-08 02:26] medelman17 opened #200 "Migrate Rollup TS Plugin to '@wessberg/rollup-plugin-ts'"
### Current Behavior

TSDX uses `rollup-plugin-typescript2` to compile and check TypeScript files. Due to [certain anomalies](https://github.com/ezolenko/rollup-plugin-typescript2/issues/105) specific to this plugin, tsdx users are unable, _inter alia_, to use additional rollup plugins that contain async/await syntax (_e.g._, [`rollup-plugin-visualizer`](https://github.com/btd/rollup-plugin-visual

[2019-09-08 02:40] sw-yx commented on #200
thanks for filing. no strong feelings on this one, leaving for jared

[2019-09-08 07:12] jaredpalmer commented on #200
Thanks for the write up. Let’s make the change

--
Jared

________________________________
From: Michael Edelman <notifications@github.com>
Sent: Sunday, September 8, 2019 4:26 AM
To: palmerhq/tsdx
Cc: Subscribed
Subject: [palmerhq/tsdx] Migrate Rollup TS Plugin to '@wessberg/rollup-plugin-ts' (#200)

Current Behavior

TSDX uses rollup-plugin-typescript2 to compile and check TypeScript files. Due

[2019-09-08 20:12] myklt commented on #143
Isn't the problem here that Typescript doesn't support `.jsx` as a file extension for files containing jsx? As far as I know only `.tsx` is supported. More details: https://github.com/Microsoft/TypeScript/issues/30503

[2019-09-09 04:28] medelman17 commented on #200
Sounds good. I’ll submit a PR by EOW.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jared Palmer <notifications@github.com>
Sent: Sunday, September 8, 2019 3:12:37 AM
To: palmerhq/tsdx <tsdx@noreply.github.com>
Cc: Michael Edelman <michael@fabulas.io>; Author <author@noreply.github.com>
Subject: Re: [palmerhq/tsdx] Migrate Rollup TS Plugin to '@wessberg/rollup-

[2019-09-09 13:41] selbekk opened #201 "Scan upwards for tsdx.config.js"
### Current Behavior

If used in a mono-repo, and you have a top-level `tsdx.config.js` file, you have to create another `tsdx.config.js` per package, which basically just re-exports the top-level `tsdx.config.js` file.

### Desired Behavior

It would be great to scan for a `tsdx.config.js` all the way up to the call-site, and using the first one found.

### Suggested Solution

[The `find-up` pack

[2019-09-09 16:46] jaredpalmer commented on #201
Need to think about this. Seems like a good idea. One issue thing to remember though is that you are gonna have to do a similar re-exporting anyways with tsconfigs. I wonder if it we would want to go a bit further and make tsdx more monorepo aware. Perhaps we add a create subpackage command instead so that users don't need to deal with the tsconfig or tsdx nonsense.

[2019-09-09 16:49] jaredpalmer commented on #201
Maybe we make this quite opinionated too. Such as...
[code]

[2019-09-09 16:49] selbekk commented on #201
I'm all for making TSDX mono-repo aware, but I think there's some work being done to this already ([this repo](https://github.com/natemoo-re/tsdx-monorepo) and #127 specifically).

You don't have to do the re-exporting with tsconfig actually - they already do the same `find-up` approach iirc.

[2019-09-09 16:50] jaredpalmer commented on #201
@selbekk TIL about find up. I think you still _usually_ need to do it though if the sub packages reference each other because you'll need to mess around with tsconfig.paths IIRC

[2019-09-09 16:53] selbekk commented on #201
hm - perhaps, haven't ran into that one yet. Right now we're just using yarn workspaces to reference other projects inside the same monorepo.

Anyways - it'd be great to have monorepo support built in - especially the bootstrapping part. :)

[2019-09-09 18:12] jaredpalmer opened #206 "Who's using TSDX?"
Drop your company name, svg logo, link to your website, and links to any repos using TSDX. Going to add these to the website.

From just scanning through the GitHub dependents tab, found some notable companies using it...

- https://github.com/microsoft/ability-attributes
- https://github.com/pelotoncycle/frame-throttle
- https://github.com/artsy/arc
- https://github.com/mobxjs/mobx-react-lite
- h

[2019-09-11 00:22] JustFly1984 commented on #206
https://github.com/JustFly1984/react-google-maps-api/tree/master/packages/react-google-maps-api
https://github.com/JustFly1984/react-google-maps-api/tree/master/packages/react-google-maps-api-marker-clusterer
https://github.com/JustFly1984/react-google-maps-api/tree/master/packages/react-google-maps-api-infobox
https://raw.githubusercontent.com/JustFly1984/react-google-maps-api/master/logo.png

[2019-09-11 00:59] sw-yx commented on #206
Netlify [react-netlify-identity-widget](https://github.com/sw-yx/react-netlify-identity-widget) [Logos](https://www.netlify.com/press/)

[2019-09-11 09:31] netzwerg commented on #206
I use it in my latest lib: https://github.com/netzwerg/react-svg-timeline – thanks for making TSDX ✨

[2019-09-15 23:56] #196 closed

[2019-09-16 02:38] iamtheworstdev commented on #83
@jaredpalmer  any chance you'll be looking into this? noticed it's still happening in a personal project I just created, which conerns me because I only heard about TSDX because a customer is trying to run with it.

[2019-09-16 02:58] tunnckoCore commented on #200
This switch will be amazing! :) I'm playing around in the last couple of days and the @wessberg plugin works beautifully. One huge benefit is that it bundles and tree-shakes the declarations files - no such thing possible until recently. And frees the road to use Babel for the rest. Which isn't exactly true, since when type-check `tsc` (and in your editor) will error. But at least that's until Typ

[2019-09-16 03:12] medelman17 commented on #200
Amazing! I’ve submitted a PR (https://github.com/palmerhq/tsdx/pull/208) but having a hard time getting last two tests to pass. Would you be able to take a look and offer any insight you might have. Sounds like you’re way more versed than I am :-)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Charlike Mike Reagent <notifications@github.com>
Sent: Sunday, Septem

[2019-09-17 01:48] liyuanqiu commented on #83
My solution is NOT to use "Default Exports" and "Hybrid Exports", only to use "Named Exports".

[2019-09-19 07:37] liyuanqiu commented on #206
TSDX helps me creating libs in this github org:
https://github.com/final-state
👍👍👍🙏🙏🙏

[2019-09-19 18:21] skvale commented on #182
re:

eslint-config-react-app just bumped their versions of typescript-eslint deps: https://github.com/facebook/create-react-app/pull/7540/files

tsdx could bump `eslint-config-react-app` and `@typescript-eslint/eslint-plugin` now

[2019-09-19 23:24] elado opened #210 "Definition for rule '@typescript-eslint/consistent-type-assertions' was not found"
### Current Behavior

Created a new `react` package, ran `lint src` and got an error:

[code]

### Expected behavior

no errors

### Suggested solution(s)

looks like this package doesn't exist anymore
https://www.npmjs.com/package/@typescript-eslint/consistent-type-assertions

when installing tsdx, it comes with `eslint-config-react-app@5.0.2` which has the reference to the missing package.
locki

[2019-09-20 02:27] JustFly1984 commented on #182
it is better to dump sdx could bump eslint-config-react-app - it messes up linting projects without react

[2019-09-20 11:12] selbekk opened #211 "Types are outputted in the wrong folder when used in mono-repo"
I've created the following reproducible example:

https://github.com/selbekk/tsdx-monorepo-example

It's a simple `lerna init` with two `tsdx` generated packages inside - `packages/package-[ab]`. I've moved the `tsconfig.json` to the root, so I can have a single config all sub-packages.

### Current Behavior

When I run `yarn build` (`lerna run build`), the types are placed in `packages/[package-n

[2019-09-20 12:46] selbekk commented on #211
So after digging down a bit, I came up with the following solution to make stuff work:

https://github.com/selbekk/tsdx-monorepo-example/pull/1/files

I'm not a huge fan of having these repetitive configs around though!

[2019-09-20 16:22] mikecousins commented on #187
Yeah this one is really biting me currently as the library I develop wraps up an es6 module so none of my tests work. If anyone has any hints for how to get this working that would be great.

[2019-09-20 17:05] pstrh commented on #168
I have the same issue in VSC and a similar problem with Intellij. Intellij requires a jest config to start/debug tests directly from within the IDE. The jest config is not present in the created project as it is only created on the fly by tsdx if `tsdx test` is called.

@Albert-Gao `tsdx test` not only creates a jest config on the fly but it also merges the created config with the jest section in

[2019-09-24 15:24] rjerue opened #213 "Code Splitting"
### Current Behavior

Code splitting does not seem to be supported. An error is produced when a dynamic import is used:

`Error: You must set "output.dir" instead of "output.file" when generating multi
ple chunks.`

Code where dynamic import is used:

[code]

### Desired Behavior

Code Splitting should be supported.

### Suggested Solution

Need to tell rollup to output to a directory instead of a

[2019-09-24 16:20] sw-yx commented on #213
i decided not to do code splitting in a tsdx library, bc the code split point should probably be higher up.

your usecase is valid, its just one i dont have, and i doubt this is inline w project goals. however, if you investigate and have a low cost way to add this, feel free to PR. i dont think we're against it, we just generally dont need it at the library level (again, there are exceptions, lik

[2019-09-24 16:51] rjerue commented on #213
Makes sense. I think it's fair in this case to say to extend the config. I'll dig/play around with it more. It may just be a plugin that plugs into the config.

[2019-09-24 18:34] stolinski commented on #206
https://github.com/leveluptuts/fresh migrated from Create React Library

[2019-09-24 22:58] elado commented on #206
[Lyft](http://lyft.com)
<img src=https://user-images.githubusercontent.com/51488/65556306-0471fe00-dee4-11e9-8ee5-8615878cf906.png height=200 />

[2019-09-25 00:13] jaredpalmer commented on #211
I think the multiple tsconfigs are unavoidable

[2019-09-25 00:14] jaredpalmer commented on #210
Can you send a PR?

[2019-09-25 05:41] selbekk commented on #211
Yeah it looks like it. Luckily, it’s not a huge deal, since I can extend a base config for most settings.

25. sep. 2019 kl. 02:13 skrev Jared Palmer <notifications@github.com<mailto:notifications@github.com>>:

I think the multiple tsconfigs are unavoidable

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/jaredpalmer/tsd

[2019-09-25 05:41] #211 closed

[2019-09-25 12:18] daraclare opened #214 "Cannot add external to Rollup config"
### Current Behavior
I need to exclude a module through rollup in the `tsdx.config.js` file. However, when I add a comma-separate list of module IDs to exclude i.e.
[code]

I get the following error when I run `yarn build`: `The 'this' keyword is equivalent to 'undefined' at the top level of an ES module, and has been rewritten`

### Expected behavior
The module is excluded and the build runs with

[2019-09-25 19:16] selbekk opened #215 "Very slow builds with many files"
### Current Behavior

When building a single entry file with ~160 exports (each in their own file), the build process takes several minutes without a warm cache (crashes with an OOM error on CI)

### Expected behavior

I'd expect it to be slower than a single module file, but not THAT much slower

### Suggested solution(s)

It looks like it's a issue with either rollup or one of its plugins - but

[2019-09-26 17:23] #213 closed

[2019-09-27 00:39] sw-yx commented on #215
instead of a `--perf` flag we should use https://www.npmjs.com/package/debug. happy to take a PR if you're interested in working on that

[2019-09-27 02:32] sadsa opened #216 "@typescript-eslint/eslint-plugin needs updating"
### Current Behavior

To prevent the installation of duplicate packages in node_modules we are using PNPM with `--strict-peer-dependencies`. The issue is that `tsdx v0.9.2` depends on `"eslint": "^6.1.0"` as well as `"@typescript-eslint/eslint-plugin": "^1.13.0"`.

The issue here is that `"@typescript-eslint/eslint-plugin": "^1.13.0"` has a peer dependency on ` "eslint": "^5.0.0"`

[code]

causing

[2019-09-27 12:30] selbekk commented on #215
Hm I guess I could look at it more closely next week. Haven't used `debug` yet though

[2019-09-27 12:42] sw-yx commented on #215
its really good. basically gold standard for logging in cli's.

[2019-09-27 12:42] sw-yx commented on #216
PR welcome

[2019-09-27 13:03] selbekk commented on #215
Cool stuff. I'll look into it for sure - but what would you expect from a PR? I'd love to use this as a learning opportunity :) hey, perhaps i'll turn it into something fun for this year's react.christmas? 😅

[2019-09-27 13:05] sw-yx commented on #215
you can implement just the logging that you need to dig into your perf issues. once we understand the source of your perf issues then we can make a separate PR  to fix that. make sense?

[2019-09-27 13:06] selbekk commented on #215
that'll work :)

[2019-09-27 14:48] selbekk commented on #215
I solved this by using the rollup plugin for svgr instead (per #200), but I'll still have a look at the debugging part.

[2019-09-27 14:48] #215 closed

[2019-09-28 00:07] elado commented on #175
another use case is adding command line tool (`bin`) to a package in a separate `cli.ts` file.
but here, there's no need to use esm/umd/cjs builds.

`tsdx.config.js` `rollup` method returns a single entry per build format (esm/umd/cjs) but would be great to be able to also hook into the final config, so more entries can be injected.

[2019-09-28 00:37] jaredpalmer commented on #175
Yep. This should be easy to implement just have to fool around with the cjs entry generation so it does it multiple times

[2019-09-29 05:12] whinc commented on #206
I use tsdx to startup my new github project:

https://github.com/whinc/api-sharp

👍🙏

[2019-09-29 21:28] sadsa commented on #216
PR #218 created. I've added the `pnpm-lock.yaml` file so you can test with PNPM if you like.

[2019-09-29 23:19] sw-yx commented on #216
hmm. is the pnpm lockfile necessary for you to operate? because we aren't likely to maintain that file

[2019-09-30 06:44] arvinsim commented on #61
Yes, I prefer the test files be next to the source. It's just so much better than having to switch folders view.

[2019-09-30 14:00] #216 closed

[2019-09-30 14:00] sw-yx commented on #216
merged https://github.com/jaredpalmer/tsdx/pull/218

[2019-09-30 20:01] sadsa commented on #210
I've been tracking this same bug. It's a CRA issue - [See here](https://github.com/facebook/create-react-app/issues/7709)

[2019-10-01 16:03] swyxio opened #221 "[proposal] Svelte, Vue, Angular targets?"
### Desired Behavior

if we have a react target we might want to consider also scaffolding out svelte, vue, and angular builds. all of them use typescript internally.

for svelte, this is the recommended component publishing template https://github.com/sveltejs/component-template but it lacks typescript and we can make a dent here.

this is just an idea - we never want to sacrifice React DX and if

[2019-10-01 20:17] jaredpalmer commented on #221
Svelte is incompatible with TS at the moment IIRC

[2019-10-01 20:30] sw-yx commented on #221
most people use [preprocessors](https://github.com/ryanatkn/awesome-svelte-resources#user-content-preprocessors) :)  the incompatibility is more in the templating, which is more of a "language server" issue

[2019-10-01 20:58] jaredpalmer commented on #221
I though VSCode explodes TS with svelte syntax?

[2019-10-01 21:29] skvale commented on #210
I looked in the created `reactfoo/yarn.lock` file.  It looks like
[code]
Which doesn't match the version needed to resolve `@typescript-eslint/consistent-type-assertions`.
I think tsdx just needs to publish a new version to fix this, since the right version is a dependencies now: https://github.com/jaredpalmer/tsdx/blob/master/package.json#L41

[2019-10-02 04:05] sw-yx commented on #221
i mean i think we’ll know when we try it. mostly putting this up to gauge interest/ consider what else we might want in something like this

[2019-10-02 12:27] Shelob9 commented on #210
I found `yarn add eslint-config-react-app@5.0.1` to resolve it for me in my tsdx-generated project.

I can put in a PR, not sure what makes most sense given what @elado said:

Put in a PR to set 5.0.1 so it works now and then once 6.0.2 is out, a new PR for that?

[2019-10-02 14:05] skvale commented on #210
As a different workaround for now, you could do `yarn add -D @typescript-eslint/eslint-plugin@latest`

[2019-10-02 21:49] zachariahtimothy commented on #206
@jaredpalmer once again from the govvy world :) ...
http://www.koniaggss.com/
And very shortly: https://www.aphis.usda.gov/aphis/home/

[2019-10-03 08:28] maraisr commented on #171
We're experiencing a similar thing. [@autoguru/icons](https://github.com/autoguru-au/icons).

Checkout how bundlephobia shows 5.4k for every export.

- https://unpkg.com/browse/@autoguru/icons@1.1.8/dist/icons.esm.js
- https://bundlephobia.com/result?p=@autoguru/icons@1.1.8

[2019-10-03 09:27] TrySound commented on #171
Pure annotation does not always work well. Why do you prefer elements instead of components? It's a bit confusing since you called with capital first letter. With function components you will get customisation and treeshakability for free.

[2019-10-03 11:23] maraisr commented on #171
Ah my bad - yeah... So what do you think, make those functions and we unlock tree shaking?

[2019-10-04 10:45] ranndev opened #222 "[feature] Unnecessary package.json field remains after building a project into a specific format"
### Current Behavior

After running `yarn build --format cjs` from a tsdx project, `module` field still remain on **package.json**.

### Desired Behavior

Should remove the `module` field from **package.json** when the build format is only `'cjs'` and remove `main` field when only `'esm'` is passed.

[2019-10-04 12:16] rannie-peralta commented on #222
Can I work on this?

[2019-10-04 15:23] wKovacs64 commented on #171
Any additional thoughts on the original issue here, @TrySound? Am I just way off base?

[2019-10-04 15:30] TrySound commented on #171
I guess the problem is withEmotionCache HOC here. Everything should be fine when they will migrate to hooks.
https://unpkg.com/browse/@emotion/core@10.0.20/dist/core.browser.esm.js
/cc @andarist

[2019-10-04 19:26] xaviergonz opened #223 "tsdx build does not clean dist folder, leaving removed files"
### Current Behavior

tsdx build does not clean the dist directory, therefore leaving compiled files when its sources were removed

### Expected behavior

tsdx build should clean the dist folder

### Suggested solution(s)

tsdx build should clean the dist folder

### Additional context

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | lat

[2019-10-05 06:43] Andarist commented on #171
Yeah, top-level usage of that HOC can definitely stop tree-shaking from doing its job. I've added PURE annotation to help with that - https://github.com/emotion-js/emotion/pull/1537 .

Unfortunately there are still some unguarded calls in emotion that might prevent tree-shaking (e.g. createCache call), but I've tried to fix those quickly as a test and they didn't seem to help much in this particul

[2019-10-05 11:22] MatejBransky opened #224 "Support example editing through CodeSandbox out of the box"
### Current Behavior

Now it's not possible to just link the example folder in CodeSandbox (https://codesandbox.io/s/github) so you can't play with it.

### Desired Behavior

Support example editing through https://codesandbox.io/s/github .

### Suggested Solution

Suppress or completely remove relative paths to dependencies (even the source folder). Parcel can use published version of the library

[2019-10-05 13:42] third774 opened #225 "tsconfig.json not applied to test files"
### Current Behavior

Currently the `tsconfig.json` file only lists `["src", "types"]` in the `include` key, which leaves out the `"test"` folder. This means that VS Code doesn't use the `tsconfig.json` file for files in that directory. None of the `strict` rules are applied.

![image](https://user-images.githubusercontent.com/8732191/66255623-713e9100-e74b-11e9-85bb-a413878e63e4.png)

### Expecte

[2019-10-05 13:44] #225 closed

[2019-10-05 16:21] wKovacs64 commented on #171
Thanks for the in-depth analysis! So I just chose a bad example (emotion) for this test? If we used some other dependency, everything should work as expected as-is (i.e. no problem with tsdx)?

I tried importing a few other libraries instead of emotion but they all had the same problem, so I'm wondering if they are all flawed in some way. Do we have an example of something I could try importing th

[2019-10-05 17:51] TrySound commented on #171
All depends on a library. tsdx does all right. Which libs you tried?

[2019-10-05 19:36] Andarist commented on #171
Yes - it's all dependant on the library. Tree-shaking algorithms are somewhat limited to what they can analyze to be safe to be removed - I found webpack's one to be especially limited (e.g. rollup doing a far better job at it).

You could use `ramda` to test stuff, I've made it pretty tree-shakeable in the past - so only if something didn't change in their source code it should still work as expe

[2019-10-05 23:08] wKovacs64 commented on #171
I ran some more experiments with emotion, ramda, and my own library, [`hibp`](https://github.com/wKovacs64/hibp). I thought I had `hibp` pretty tree-shakeable but apparently not as well as I thought. 😞 Although it must be partially OK because importing a single function does not seem to cause all the other exports to be present in the final consumer build output (which is good). What I don't get i

[2019-10-06 06:01] Andarist commented on #171
This happens because a bundler cant assume that an import is safe to be completely removed because it might contain a side effect which might be important for a program - also order of imports matter in that regard. The whole thing has to be analyzed and only if bundler decides that its safe to remove something then it removes something. sideEffects field in pkg.json of imported lib can act as a h

[2019-10-06 06:09] wKovacs64 commented on #171
Will do. Thanks all.

[2019-10-06 06:09] #171 closed

[2019-10-06 06:13] wKovacs64 commented on #171
@Andarist Twitter says you cannot be messaged. 🙂

[2019-10-06 08:02] MatejBransky commented on #224
Ok, I think I can use `npm link` or `yarn link` for local development.. I'll try it in the mentioned repository if anybody is interested.

[2019-10-06 08:02] #224 closed

[2019-10-08 14:37] KrzysztofCzaplejewicz opened #227 "[Q] Split chunks"
Is it possible to split chunks exported module?

[2019-10-08 19:58] sw-yx commented on #227
no, sorry. feel free to modify the rollup config as per documentation!

[2019-10-08 19:58] #227 closed

[2019-10-08 19:59] sw-yx commented on #223
pr welcome!

[2019-10-09 18:20] zachariahtimothy commented on #213
Aside from deciding where code splitting should happen. FWIW I was able to get it working by creating a tsdx.config.js and adding the following;
[code]

[2019-10-11 08:30] Aidurber commented on #150
@SeedyROM @jaredpalmer I'm taking a quick look at this and I'm unsure what would be the correct fix.

The easiest is to check if the args already contain a config ([here](https://github.com/jaredpalmer/tsdx/blob/master/src/index.ts#L463)), if it does then don't push the tsdx config.

Or do we merge in the contents of the supplied config with the tsdx config? It would probably need to be a deep mer

[2019-10-11 19:11] #200 closed

[2019-10-11 19:17] jaredpalmer commented on #222
This is a great point.

Couple of ideas:

Maybe we check `package.json` in `tsdx build` and ensure that correct fields (`module`, `main`, etc.) are there? Perhaps ask prompt the user if we should update them?

[2019-10-11 19:26] jaredpalmer opened #230 "Contributors"
Thanks everyone.

[2019-10-11 19:27] jaredpalmer commented on #230
@all-contributors please add @jaredpalmer for doc, design, review, tool, test, maintenance, code

[2019-10-11 19:28] jaredpalmer commented on #230
@all-contributors please add @sw-yx for bug, code, doc, design, ideas, infra, maintenance, review

[2019-10-11 19:29] jaredpalmer commented on #230
@all-contributors please add @JasonEtco for bug, test

[2019-10-11 19:30] jaredpalmer commented on #230
@all-contributors please add @aleclarson for code

[2019-10-11 19:31] jaredpalmer commented on #230
@all-contributors please add @skvale for code, test, bug, docs

[2019-10-11 19:35] jaredpalmer commented on #230
@all-contributors please add @JasonEtco for bug, test

[2019-10-11 19:36] jaredpalmer commented on #230
@all-contributors please add @skvale for code, test, bug, docs

[2019-10-11 19:38] #230 closed

[2019-10-11 21:08] jaredpalmer opened #238 "Idea: "the typescript cli""
Probably a terrible idea, but was thinking that we could expose options on `tsdx create` to bootstrap create-react-app, next, razzle, gatsby with typescript already setup. tsdx then becomes a one-stop-shop for typescript.

[2019-10-11 21:15] sw-yx commented on #238
related? https://github.com/jaredpalmer/tsdx/issues/221

prob also wanna make sure the ts team are ok with that branding

[2019-10-11 21:27] medelman17 commented on #210
@skvale, @Shelob9 -- I believe this was closed by #220 and or #208.

[2019-10-12 00:15] medelman17 opened #239 "[Dev]: Skip Test-Stage Teardown When Tests Fail"
### Current Behavior

`Tsdx's` [testing suite](https://github.com/jaredpalmer/tsdx/tree/master/test/tests) works, in part, by loading in and out different [configuration/template-fixtures](https://github.com/jaredpalmer/tsdx/tree/master/test/fixtures) and using the build under test to generate relevant test cases. These test cases are then linted, prettier'd, and otherwise-parsed.

Unsurprisingly,

[2019-10-12 00:57] jaredpalmer commented on #239
Yes to this. I copied this technique from razzle which copies it from nytimes/kyt. It’s several years old now and def needs a refresh

[2019-10-13 20:40] sadsa commented on #210
Yes, I believe this will be fixed by #216 - It's been merged into `master`. Now we're just waiting on release to `v9.0.4`

[2019-10-14 07:17] kylemh commented on #61
https://github.com/jaredpalmer/tsdx/blob/master/src/createJestConfig.ts#L12

This is currently possible, and this issue should be closed.

[2019-10-14 09:24] #61 closed

[2019-10-14 15:22] JustFly1984 commented on #238
@sw-yx who cares? can do better, just do it!

[2019-10-14 17:11] #223 closed

[2019-10-14 17:12] #100 closed

[2019-10-14 19:30] audiolion opened #241 "License generation"
### Current Behavior

package.json has no license on new project init

![image](https://user-images.githubusercontent.com/2430381/66775827-f421c300-ee92-11e9-8d3a-47b32a4ead7c.png)

### Desired Behavior

Some way to have tsdx assist in adding a license.

### Suggested Solution

Add ability to select a license to `init`, or, to keep `init` as frictionless as possible, add a second `tsdx` command `t

[2019-10-14 22:22] alexluong commented on #223
Thank you @audiolion for making the PR.

What about using TSDX inside a monorepo though? It seems like the PR is not accounting for that situation yet.

[2019-10-14 22:50] sw-yx commented on #241
thanks for filing this idea! i am a fan of encouraging people to specify licenses in everything, however, jared has strong opinions here on how he wants the `tsdx create` experience to work. leaving for him to decide.

[2019-10-14 23:16] audiolion commented on #223
@alexluong as far as I am aware, while there are plans to support monorepos, there is no explicit support at this time. I think this would be something that would be addressed when support is added for monorepos. I am using the same code paths as the rest of the app for resolving the `dist` directory so I don't think my PR made any regressions

[2019-10-14 23:27] jaredpalmer commented on #241
We should make a default and document it.  People will change it accordingly

[2019-10-14 23:39] audiolion commented on #241
sounds good. [WTFPL](https://en.wikipedia.org/wiki/WTFPL)?

[2019-10-15 00:32] jaredpalmer commented on #241
MIT

[2019-10-15 02:52] alexluong commented on #223
@audiolion Yes, I don't think your PR made any regressions either. I understand that TSDX is not officially support monorepos. However, it seems like we're making progress and try to support it as much as we can.

I'm just wondering if there's an easy way to add support for monorepo for this feature. Otherwise, that's totally fine. I can write a bash script that removes the `dist` folders myself.

[2019-10-15 07:14] sebald opened #243 "Compilation time grows with project size"
### Current Behavior

When projects grow, transpilation time of TypeScript tends to grow with it because of the type checking. And while having types is awesome, especially when developing the longer compilation time is meh. Especially because most of the time your editor will tell you anyway that you messed up.

### Desired Behavior

Possibility to opt out of type checking.

### Suggested Solutio

[2019-10-15 11:40] audiolion commented on #223
@alexluong I am not sure, as far as I am aware, if you had a monorepo with structure as:

[code]

wouldn't the `dist` folders still be inside each package? I think whenever the code that changes

https://github.com/jaredpalmer/tsdx/blob/22c2416b777f68f0d8c213da74b397fc29cd808e/src/constants.ts#L1-L13

supports monorepos, my code will also support them as it is relying on those same constants

[2019-10-15 13:42] sw-yx commented on #243
can also explore using the `--incremental` flag

[2019-10-15 16:32] jaredpalmer opened #253 "RFC: npx tsdx migrate"
I found this cool package https://github.com/sapegin/mrm which's like codemods for `package.json`. I wonder if we could build some kind of `npx tsdx migrate` command that would look at an existing `package.json` and install/setup `tsdx`. A few prompts might be needed, but could be possible.

That being said, most typescript project configs are snowflakes. However, we likely can go very far with ju

[2019-10-15 17:11] audiolion commented on #243
IIRC create react app solved this issue by using the webpack plugin fork-ts-checker so that the bundle would still be emitted quickly and type checking would happen asynchronously sometime afterward

[2019-10-15 17:39] jaredpalmer opened #254 "Release automation"
Continuing on this https://github.com/jaredpalmer/tsdx/issues/85

It would be great to automate releases so that @sw-yx can cut releases as well.

[2019-10-15 17:40] jaredpalmer commented on #254
I think intuit has a cool thing with labels now called like `auto`. Worth a try?

[2019-10-15 17:40] jaredpalmer commented on #254
https://github.com/intuit/auto

[2019-10-15 17:41] jaredpalmer commented on #254
and perhaps this: https://github.com/auto-it/autobot

[2019-10-15 17:57] ArnaudBarre opened #255 "npx tsdx create fails with 0.10"
### Current Behavior

`npx tsdx create mylib` fails (before template prompt)

### Expected behavior

`npx tsdx create mylib` works

### Suggested solution(s)

`npx tsdx@0.9 create mylib`

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | 0.10
| TypeScript       | not installed globally
| npm/Yarn         | yarn 1.19, npm 6.12
| Operating S

[2019-10-15 19:34] sw-yx commented on #254
don't we already use circleci? i think kentcdodds uses circle to do his release automation. i've never actually added this to any of my npm projects tho, would be cool to add this

[2019-10-15 20:10] xogeny commented on #255
I think I've having the same issue.  Easy way to reproduce, for me, was to run:

[code]

But I also get the same error running `npx tsdx create mylib` under Windows (`Cannot find module 'typescript'`).

If, instead, I run `yarn add tsdx` so that it is installed locally in a package I get the error message: `warning " > tsdx@0.10.0" has unmet peer dependency "typescript@3".`.  The result is that if

[2019-10-15 22:03] arnaud-zg opened #258 "Cannot build with version 0.10.0"
### Current Behavior

I have an issue with `tsdx@0.10.0`, it looks like there is an error on importing `d.ts` file.

[code]

### Expected behavior

No error

### Suggested solution(s)

I don't know yet ...

### Additional context

N/A

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | 0.10.0 |
| TypeScript       | 3.6.4 |
| Browser

[2019-10-15 22:25] arnaud-zg commented on #258
I solved my issue by removing the export keyword from every typing files (`.d.ts`), I guess it is not a good practice to export them.

[2019-10-16 06:01] sebald commented on #243
@sw-yx do you mean the flag from the TS compiler? That what we are using before. But the CI is running for 6mins, if no heap overflow happens.

@audiolion yes! That's kind of what I am suggesting here :) Checking out https://github.com/wessberg/rollup-plugin-ts/, there seems to be no option to do this right now. Which is fine, since `--noEmit` does the trick as well.

[2019-10-16 09:13] mfolnovic opened #259 "Jest + require.context -- babel plugins aren't used during test"
Context: I'm trying to add support for Storybook / Storyshots ito my library (which uses `tsdx` :rocket:).

From my understanding, Storyshots needs to run `.storybook/config.js` to scan for existing stories, which uses `require.context`.

### Current Behavior

If I run my storyshots test through `tsdx test`, and if I use `require.context`, I get:

or if I try to add https://github.com/storybookjs/

[2019-10-16 13:57] grimnomad opened #260 "removing dist folder causes issues with parallel lerna processes"
I don't know if this is the right place for this, neither if this is a bug.

### Additional context

I am using tsdx in a lerna monorepo. If I start all process at once via `lerna run --parallel start`, my `create-react-app` start process fails with `Module not found: Can't resolve <path/to/module>`.

My guess is the cleanup of the dist folder on watch mode collides with the parallel startup.

If

[2019-10-16 14:00] marijnbent commented on #186
@daniele-zurico After trying your code I get a

`(Typescript plugin) SyntaxError:` error.
[code]
New to TypeScript. What is going wrong?

[2019-10-16 14:35] mdapper commented on #255
Same error here:

[code]

Software | Version(s)
------------ | -------------
TSDX | 0.10
TypeScript | not installed globally
Yarn | 1.19.1
npm | 6.9.0
node | 10.16.3
OS | Ubuntu 18.04

Using `npx tsdx@0.9 create tsdx-demo` worked.

[2019-10-16 14:51] daniele-zurico commented on #186
@marijnbent try to comment the content of `src/typings.d.ts`

[2019-10-16 19:35] Weffe commented on #255
I am having the same issue with getting the error `Cannot find module 'typescript'` when trying to run with `v0.10`

[2019-10-16 20:56] jaredpalmer commented on #255
Thanks for the reports. on it.

[2019-10-16 21:02] jaredpalmer commented on #260
are we totally removing the dist folder or just wiping its contents?

[2019-10-16 21:05] #255 closed

[2019-10-16 21:27] #241 closed

[2019-10-16 21:28] jaredpalmer commented on #198
This seems very useful

[2019-10-16 21:29] jaredpalmer commented on #198
However, maybe we should start with just documenting it. Perhaps in a "suggested packages" section of the docs?

[2019-10-16 22:10] kyle-johnson opened #263 "Can't use a fresh install: "Error: Cannot find module 'shelljs'""
### Current Behavior

Command:
`npm install -g tsdx`

Output:
[code]

Command:
`tsdx create shared`

Output:
[code]

### Expected behavior

It should work without me installing shelljs

### Additional context

Once I `npm install -g shelljs`, then `tsdx create` works

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           | 0.10.2 |
| npm

[2019-10-16 22:12] arnaud-zg commented on #258
So, since `tsdx@0.10.0` I can't build properly. I looked at this commit https://github.com/jaredpalmer/tsdx/commit/bfc0590e0fbce68fc2594c4c2be12400272eebab. I'm not sure, but I think my code worked with `rollup-plugin-typescript2`.

[2019-10-16 22:13] arnaud-zg commented on #258
So, since `tsdx@0.10.0` I can't build properly. I looked at this commit https://github.com/jaredpalmer/tsdx/commit/bfc0590e0fbce68fc2594c4c2be12400272eebab. I'm not sure, but I think my code worked with `rollup-plugin-typescript2`.

[2019-10-16 22:18] benlesh commented on #165
I was just burned by this as well.

[2019-10-16 22:33] jaredpalmer commented on #165
Does it not work with 10.x?

[2019-10-16 22:35] jaredpalmer commented on #258
Did you try with 10.2?

[2019-10-16 22:36] jaredpalmer commented on #258
@wessburg looks like your plugin is not working as expected?

[2019-10-16 22:37] jaredpalmer commented on #263
Thansk!

[2019-10-16 22:38] arnaud-zg commented on #258
Yep, I still have the issue on this version.

[2019-10-16 22:38] #263 closed

[2019-10-16 22:41] sw-yx commented on #198
yeah cool. we've yet to discuss this at all but what are your thoughts on adding this to the github readme vs the doc site content? duplication warranted? or consolidate on one or the other? your call im just happy to help. i agree this thing is pretty useful esp since it seems officially endorsed.

[2019-10-16 22:43] benlesh commented on #165
I started a new project just today, everything seemed okay, but when I tested out what I published it was off. Typings pointed to `default`, actual value was at `default.default`.

Here's the repo: https://github.com/benlesh/react-simple-vlist

I've since flipped it to not use default exports for `0.0.1`, but you can se the problem with `0.0.0`.

[2019-10-16 22:44] jaredpalmer commented on #258
Yeah i figured it out. Some _folks_ did not move `typescript` into deps.

[2019-10-16 22:45] #258 closed

[2019-10-17 03:47] gozeon opened #264 "Discussion: docs generator"
### Current Behavior

`npm run docs`

### Desired Behavior

![image](https://user-images.githubusercontent.com/17582116/66976230-c11a4200-f0d3-11e9-883a-8418107250bf.png)

### Suggested Solution

- [typedoc](https://www.npmjs.com/package/typedoc)
- [react-docgen-typescript](https://www.npmjs.com/package/react-docgen-typescript)

[2019-10-17 06:24] sebald commented on #260
@grimnomad `--parallel` will not cause the processes to care about their dependencies. Try running with the `--stream` flag instead. Lerna will then respect local dependencies and wait until the build is done.

Note that this will not work with watch tasks since they never finish.

[2019-10-17 07:39] Ajamuar commented on #186
Hi,
I am facing the same problem. I need a .css file in my project and I am trying to import it but I am continuously getting the same error. I tried the code given by @daniele-zurico and I am still facing the same problem.

![image](https://user-images.githubusercontent.com/48080578/66987931-48b97e00-f0df-11e9-848a-de34152fc5b8.png)

Any help would be appreciated.
Thanks.

[2019-10-17 07:58] grimnomad commented on #260
@jaredpalmer It looks like the dist folder gets removed.

The function removing the dist folder:

https://github.com/jaredpalmer/tsdx/blob/76d7eb33e946c6dd3ebb656eabc874e392ecf012/src/index.ts#L475-L479

and the line where it is called in watch task:

https://github.com/jaredpalmer/tsdx/blob/76d7eb33e946c6dd3ebb656eabc874e392ecf012/src/index.ts#L364

@sebald Thank you for the clarification.

[2019-10-17 08:24] arnaud-zg commented on #258
I confirm that it works with `v0.10.5` ✨

[2019-10-17 09:58] marijnbent commented on #186
Almost as if the tsdx.config.json file isn't overriding some values and postcss isn't triggered. If inject is set to false, and cssnano is added, I still see an injected css file..

[2019-10-17 13:12] jaredpalmer commented on #260
Would a solution be to clear the contents of the directory and not delete the folder?

[2019-10-17 13:14] jaredpalmer opened #265 "Make things async wherever possible"
I noticed some sync file system tasks slipped into .10.x. We should make these async wherever possible.

Example: we should make this async https://github.com/jaredpalmer/tsdx/blob/76d7eb33e946c6dd3ebb656eabc874e392ecf012/src/index.ts#L476

[2019-10-17 13:19] jaredpalmer commented on #264
if we did something, I would like it to be more digestable than react-docgen or typedoc. Both of these spit out rather intimidating output IMHO. Some other work has been done in the space that I think is noteworthy:

- palantir/documentalist (powers https://blueprintjs.com/docs/)
- Framer’s API docs https://github.com/framer/api-docs/tree/master/api

[2019-10-17 13:20] jaredpalmer commented on #264
Related to https://github.com/jaredpalmer/tsdx/issues/166

[2019-10-17 13:24] jaredpalmer commented on #214
Is this still happening?

[2019-10-17 13:26] jaredpalmer commented on #243
Can someone add a section of about this to the docs?

[2019-10-17 18:39] wessberg commented on #243
@sebald, it is possible to pass a [`transpileOnly`](https://github.com/wessberg/rollup-plugin-ts/#transpileonly) option to rollup-plugin-ts which may help you here.

[2019-10-17 19:50] daraclare commented on #214
Thanks for the response, we had to find another solution, so I can't test it in our repo unfortunately. Is the above the correct method for excluding modules in the `tsdx.config.js` file? I think some docs would be really useful on this, and maybe on the other possible configs in the `tsdx.config.js` file. I'd be happy to help, but not sure what's the correct approach.

[2019-10-17 20:16] grimnomad commented on #260
Honestly i don't know. I my opinion it doesn't matter. `create-react-app` will not find a file and will crash.

[2019-10-17 20:18] dattebayorob opened #268 "No .d.ts created after update to 0.10.0"
### Current Behavior

//index.ts
import { PrivateRoute, PublicRoute } from "./components";

export {
    PrivateRoute,
    PublicRoute
}
will generate
//index.d.ts
/// <reference types="react" />
export { PrivateRoute, PublicRoute };
and directories of components with .d.ts arent created
[ss](https://i.imgur.com/2W6kqxM.png)

### Expected behavior

In 0.9.3 the .d.ts are created:
[ss](https://i.im

[2019-10-17 20:28] tabuckner commented on #268
I'm running into a similar issue and just assumed it was a quirk with the project.

@dattebayorob  Was this working for you on a previous version?

[2019-10-17 20:32] tabuckner commented on #179
@luisrudge did you get a chance to test anything out yet, this backs into one of my questions as well.

[2019-10-17 20:51] tabuckner commented on #268
@dattebayorob I've updated your comment above.

I can also confirm that this seems to be introduced in the first `0.10.0` release

[2019-10-17 21:05] tabuckner commented on #268
Maybe this?
https://github.com/jaredpalmer/tsdx/compare/v0.10.0...master#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R47

[2019-10-17 21:10] tabuckner commented on #268
potential related bug?
https://github.com/wessberg/rollup-plugin-ts/issues/31

[2019-10-17 21:14] tabuckner commented on #268
it looks like we swapped `rollup-plugin-typescript2` for `@wessberg/rollup-plugin-ts`

![image](https://user-images.githubusercontent.com/32392635/67047986-000ebe80-f0f9-11e9-974d-0945a3805b42.png)

I've got a few other projects that are using `rollup` and `rollup-plugin-typescript2`, those are working in the way we'd expect.

There was almost definitely a reason that we switched to the new packag

[2019-10-17 21:34] tabuckner commented on #268
Maybe the config is wrong here?
https://github.com/jaredpalmer/tsdx/blob/master/src/createRollupConfig.ts#L130

[2019-10-17 22:14] jaredpalmer commented on #268
@wessberg?

[2019-10-17 22:15] jaredpalmer commented on #268
It seems like this plugin is not yet stable. I think we should go back to Rollup-typescript2

[2019-10-17 22:24] sadsa commented on #268
@jaredpalmer - was this not part of a fix for - Support for async/await in rollup plugins?

[2019-10-17 22:41] wessberg commented on #268
@tabuckner, The reason why you're seeing a different file structure now in terms of where declaration files are emitted to is that `rollup-plugin-ts` bundles your declaration files and follows Rollups file structure. Meaning, a declaration file is generated per chunk. Previously, you were seeing declarations being generated (not bundled) that simply followed the source structure, even though the f

[2019-10-17 23:39] luisrudge commented on #179
@tabuckner sorry, I didn't. I changed my focus and had to let it go. sorry!

[2019-10-18 06:17] sebald commented on #243
@wessberg Yes, that was my proposal 🙂 I locally tried that and as mentioned it dropped build time to seconds (from minutes).

[2019-10-18 08:16] arnaud-zg commented on #258
I still have some issue, I notice there is a issue for that. Let's continue on it #268

[2019-10-18 10:44] lookfirst commented on #206
https://github.com/lookfirst/mui-rff

[2019-10-18 10:50] lookfirst opened #270 "[feat] Add an option to save the generated jest.config.js"
I want to be able to run jest tests from within my IDE (IDEA). It is far easier to just run jest directly than through `tsdx test`.

What I did was hacked a `console.log()` into `node_modules/tsdx/lib/index.js`, output the generated jest config and saved that in a jest.config.js file. Had to edit it a bit to remove the absolute paths (🤷‍♂ why those are there), but it works perfectly.

So, it would

[2019-10-18 11:30] dattebayorob commented on #268
N

No, the .d.ts creates a

[2019-10-18 12:49] ArnaudBarre opened #271 "[Suggestion] build should fail if no sources"
### Current Behavior

With no sources, `tsdx build` succeed

### Desired Behavior

With no sources, `tsdx build` fails

### Suggested Solution

Probably just an argument to one of the underlying tools, but did not verify.

### Who does this impact? Who is this for?

I got this issue when building inside docker, I put a wrong path to copy the sources (but a good one for package.json). The docker bu

[2019-10-18 13:27] tabuckner commented on #268
@wessberg Here's an repro repo that shows the issues I ran into with `v0.10.0` of `tsdx` and on.

It's not the exact scenario you outline and @dattebayorob confirmed, but it does seem to be related.

https://github.com/tabuckner/tsdx-0.10.x-type-defs-repro

[2019-10-18 13:29] tabuckner commented on #265
👀

[2019-10-18 14:45] audiolion commented on #260
I was using `rimraf` so was removing the entire folder, made a pr to instead wipe the contents inside of dist instead of removing it entirely https://github.com/jaredpalmer/tsdx/pull/272 not sure if this fixes the issue though

[2019-10-18 15:48] sw-yx commented on #271
pr welcome!

[2019-10-18 17:22] dattebayorob commented on #268
I will try to setup with the @wessberg/rollup-plugin-ts now, I need a async plugin now, and the typescript2 hack to get it to work doesn't seem like a good idea

[2019-10-18 17:44] dattebayorob commented on #268
On src/index.ts
`
export * from './components';
export * from './annotations';
export * from './templates';
`
The generated dist/index.d.ts
`export {};`

[2019-10-18 18:00] jaredpalmer commented on #268
@dattebayorob @tabuckner what version of node are you all using?

[2019-10-18 18:59] tabuckner commented on #268
`v10.15.3`

I'll try with some other versions as well.

[2019-10-18 19:01] tabuckner commented on #268
![image](https://user-images.githubusercontent.com/32392635/67120840-c3ea6500-f1af-11e9-9fe0-a7c6e06dde99.png)

[code]

[2019-10-18 19:03] tabuckner commented on #268
![image](https://user-images.githubusercontent.com/32392635/67120949-f7c58a80-f1af-11e9-9a33-b5a05bc2d830.png)

[code]

[2019-10-18 20:09] dattebayorob commented on #268
I'm on 11.15.0

[2019-10-18 21:32] jaredpalmer commented on #268
Is this the default or did you use it with an async Rollup plugin?

[2019-10-18 21:34] dattebayorob commented on #268
With default plugins

[2019-10-19 08:13] lookfirst opened #273 "__DEV__ isn't working with the local server"
When I run the local server, I'm seeing this in the browser console...

`Uncaught ReferenceError: __DEV__ is not defined`

I have this in code which is in `src/`

[2019-10-19 09:47] SeedyROM commented on #150
I think a deep merge would be appropriate, but I'm not an expert on this library. So take my opinion with a grain of salt.

[2019-10-19 11:50] wessberg commented on #268
Thanks for the repro. I'll take a look at it and will report back here.

[2019-10-19 13:16] wessberg commented on #268
Alright, I've fixed the issues and released [v1.1.73](https://github.com/wessberg/rollup-plugin-ts/releases/tag/v1.1.73). There were two of them:
- Directory imports were being used coupled with Node module resolution. There was an issue related to this, which has been resolved.
- Module Specifiers following the form `./cool-thing-input.interface` were being used, and `.interface` was being mistak

[2019-10-20 04:40] lookfirst commented on #270
I was just thinking further. Why not just generate a jest.config.js when creating the project?

Is there a good reason why `tsdx test` exists?

[2019-10-20 05:39] dattebayorob commented on #268
I did some tests with the new rollup-plugin-ts:
export components manually like [this](https://github.com/dattebayorob/lib-tests/blob/master/lib/src/index.ts) generate the declarations correctly:
`import React from "react";
declare const Col: React.FC;
declare const Row: React.FC;
export { Row, Col };
`

but exporting * lend to
`export {};`

[Here a repo sample](https://github.com/dattebayorob/lib

[2019-10-20 21:03] Flydiverny opened #274 "Build fails on 0.10.5: Cannot find module @babel/..."
### Current Behavior

[code]

### Expected behavior

Build working like in 0.9.3 😄

### Suggested solution(s)

### Additional context

Build works fine in 0.9.3 but upgrading tsdx to latest breaks, doing yarn add `@babel/plugin-transform-runtime` leads to the same error with another babel plugin (`@babel/plugin-syntax-dynamic-import`)

Guessing this issue is related: https://github.com/wessberg/ro

[2019-10-20 21:41] jannisg opened #275 "Guidance on current usage with Lerna and Yarn Workspaces?"
I am currently setting up a fresh monorepo structure using Lerna and TSDX to build out a component library.

I have read and followed the various links related to #122 but wanted to check if there is anything to consider when using TSDX inside a lerna monorepo before some kind of official monorepo template (might) land.

My current thinking is to:
1. Setup the monorepo via lerna as normal
2. Setup

[2019-10-21 10:03] slikts opened #276 "Support Rollup's preserveModules"
### Current Behavior

Currently a single bundle is output by rollup and module structure is not preserved.

### Desired Behavior

There should be a way to do deep imports from the packaged library like so: `import FooModule from "mylib/FooModule"`.

### Suggested Solution

Rollup has a [`preserveModules`][pm] option that includes the module structure in the built files.

A caveat is that the libra

[2019-10-21 15:17] gndelia commented on #265
I would like to work on this one 😄

[2019-10-21 16:07] gndelia commented on #265
Do I need to be formally assigned or should I start working on it directly?

[2019-10-21 19:57] jaredpalmer commented on #274
@wessberg? Thoughts?

[2019-10-21 19:57] jaredpalmer commented on #274
I am feeling like we should maybe revert back to rollup-plugin-typescript2

[2019-10-21 20:46] wessberg commented on #274
@babel/plugin-transform-runtime is listed as a dependency [here](https://github.com/wessberg/rollup-plugin-ts/blob/master/package.json#L75).  `rollup-plugin-ts` has a deep babel integration, just like `tsdx`, so version conflicts between babel dependencies of the two packages may arise. In fact, all of the babel dependencies of `tsdx` are dependencies of `rollup-plugin-ts` and are applied in conju

[2019-10-22 02:43] arvinsim opened #278 "Components doesn't ship with images properly"
### Current Behavior

I have been trying to create a react component with images for the purpose of reusing them across different apps.

However, when I build the library and import the component, the component works fine except all the images are not referenced properly

I also tried running Storybook and I got the same issue.

### Expected behavior

Build process should ship images properly

###

[2019-10-22 10:38] dynamite-ready commented on #213
To be fair, dynamic imports do appear to be quite an important feature (no pun).

For example, I'm currently working on an application which contains a large number of JSON files.
Right now, we register each of those files with individual import statement at the top of what is currently a very cumbersome `.ts` module.

Ideally, I'd like to replace that with a function that will dynamically import

[2019-10-22 11:06] dynamite-ready commented on #214
I've found a similar issue. After creating a `tsdx.config.js` file at the root of my project, I suspect it's never executed.

I suspect this is the case, after just adding random garbage to the file, and running `tsdx build` through an NPM script.

[2019-10-22 18:44] teplenin commented on #186
@Ajamuar Hi! Did you solve the problem?

[2019-10-22 18:57] sw-yx commented on #213
have you some concrete API you'd like to propose? probably open a new issue if so

[2019-10-22 18:58] sw-yx commented on #278
got a test repo?

[2019-10-22 18:58] sw-yx commented on #265
go ahead!

[2019-10-22 19:00] sw-yx commented on #276
i like this.

[2019-10-22 19:00] sw-yx commented on #275
try it and let us know? i dont really use lerna

[2019-10-22 19:14] teplenin commented on #186
I put the `typings.d.ts` file in the `src` directory and downgrade the version of tdx to 0.9.3. That helped

[2019-10-22 19:53] TrySound commented on #276
Don't forget that material-ui has package.json with module field in each directory. preserveModules is not enough for deep imports.

[2019-10-22 20:22] jannisg commented on #275
@sw-yx It will take another week or so until me and the team will be actively developing this project inside the monorepo + tsdx structure but I will note down my approach and any potential pain points as I go and post an update asap.

I figured I would create this issue since it seems @jaredpalmer does use monorepo's within his organisation (see https://github.com/palmerhq/monorepo-starter) so I

[2019-10-22 21:11] zcuric opened #279 "Option to opt-out of eslint-plugin-react"
### Current Behavior

`tsdx` supports `eslint-plugin-react` outof the box. If React is not used this warning pops up:
[code]

### Desired Behavior

Opt-out of `eslint` plugins that are not in used. For example, I'm using `tsdx` to build a logger plugin for a specific library. I don't need `.eslintrc` extending`react-app`, because my work is only `node` related.

### Suggested Solution

My suggesti

[2019-10-22 22:05] sadsa commented on #274
@jaredpalmer - This issue also occurs for `@babel/preset-env`.

[code]

Seems that these dependencies are being correctly installed, however as @wessberg mentions, there may be a conflict happening here when the module is being resolved. I'm using PNPM which might be a better tool for testing dependencies are installed reliably.

[2019-10-22 22:52] medelman17 commented on #274
@wessberg -- what would you suggest we do, here? Curious if you see a path forward.

[2019-10-22 23:11] wessberg commented on #274
@medelman17, well, I guess that comes down to whether or not you will proceed with `rollup-plugin-ts` or not. If you are, then the two packages may have conflicting babel dependencies from time to time. One solution could be to make `rollup-plugin-ts` fully responsible for all things related to Babel.

[2019-10-22 23:15] medelman17 commented on #274
@wessberg -- Could you walk us through that? Pros / cons from your perspective?

[2019-10-23 06:57] wessberg commented on #274
@medelman17 I've written a lot of details [in the README](https://github.com/wessberg/rollup-plugin-ts/blob/master/README.md#faq), particularly the FAQ, that you may find relevant here.

But basically, as far as I can tell [from the source code](https://github.com/jaredpalmer/tsdx/blob/master/src/createRollupConfig.ts), you're running Babel twice. Tsdx uses babel through rollup-plugin-ts since you

[2019-10-23 16:23] slikts commented on #276
@TrySound I mentioned this caveat about needing to publish from the build directory. [This is][this] what MUI does; it copies `package.json` to the build directory.

[this]: https://github.com/mui-org/material-ui/blob/master/scripts/copy-files.js#L64-L82

[2019-10-24 07:30] slikts commented on #264
It would be nice if one of the more modern and maintained solutions like Docusaurus, ESDoc (with a TS plugin), Docz (if it wasn't only for React) or docsify (if it were static) could be used. palantir/documentalist seems to be not that well documented.

RxJS has a [nice approach][rxjs] by using source code to show interface definitions, but it uses [dgeni], which is an another old and crusty tool.

[2019-10-25 09:05] greenkeeper[bot] opened #283 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.10` to `16.9.11`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fdefault%2F%40types%2Freact-16.9.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-10-25 10:33] zenyr commented on #275
Currently if you set up monorepo with lerna and tsdx, `tsdx build`s via `lerna run` or `lerna exec -- tsdx build` will run properly as you'd expect.

But, running `tsdx watch` in similar way will hang at the first package, as lerna will wait for the first `watch` command do finish before moving on to the next package. One way to cheat this woud be `--parallel` flag but this is infamous as a *yolo*

[2019-10-25 15:35] sergiop commented on #186
@daniele-zurico @teplenin I have the same problem of @Ajamuar using Daniele's solution and `"tsdx": "^0.10.5"`. Downgrading to `0.9.3` the build passes.

[2019-10-25 16:25] daniele-zurico commented on #186
I think is the case to open a new ticket! I dint try on the new version so I’m not sure but It looks like a regression problem

[2019-10-25 18:37] sergiop opened #284 "Adding css-modules with a custom Rollup config breaks the build."
### Current Behavior
Create a new project with react template: `npx tsdx create mylib`

1. Add `postcss` plugin and extend Rollup config with `tsdx.config.js`
[code]
[code]
2. Add a test css-module file `/src/style.module.css`, import and use it in `/src/index.tsx`
[code]
[code]

3) Build the library
[code]

The build script exits with this error:

<img width="858" alt="sergiopedercini_MBP-di-Serg

[2019-10-25 18:42] sergiop commented on #186
@daniele-zurico @jaredpalmer I opened a related BUG issue here: https://github.com/jaredpalmer/tsdx/issues/284

I think it's not strictly related to CSS-MODULES as much as a more generic issue with Rollup custom config in `tsdx.config.js`.

[2019-10-25 21:38] sergiop commented on #284
I dug inside the code, and from what I've seen, the issue started when @medelman17 added `@wessberg/rollup-plugin-ts` in place of `rollup-plugin-typescript2` two weeks ago.

Here: https://github.com/jaredpalmer/tsdx/commit/bfc0590e0fbce68fc2594c4c2be12400272eebab#diff-85d99c527c01407b9055b07762a4ad45L11

On my computer I just reverted the changes only on that file, and with the old configuration t

[2019-10-26 15:35] z0al opened #285 "Generated typings are broken"
### Current Behavior

Generated typings are broken (literally) starting from `v0.10.0`. Here are some snippets:

[code]

[code]

And YES, it duplicated almost every type declaration (see the full file [here](https://gist.github.com/z0al/78c73ab9d799533d79915a53da558697))

### Expected behavior

Typings don't have syntax errors.

### Suggested solution(s)

I think it's a bug in `@wessberg/rollup-pl

[2019-10-26 18:43] sergiop commented on #284
I played a little more and I found that if I use `typescript` instead of `babel` as a `transpiler` in `@wessberg/rollup-plugin-ts` config, the build passes.

https://github.com/jaredpalmer/tsdx/blob/master/src/createRollupConfig.ts#L146

[2019-10-27 09:17] z0al commented on #285
I tried updating `@wessberg/rollup-plugin-ts` to the latest version (`v1.1.73` instead of `v1.1.70`) but the output is still the same. I will try to create a minimal reproducible repo later.

[2019-10-28 08:23] sergiop commented on #284
Last but not least, I found that probably the issue is not strictly related to `css-modules` or a custom `tsdx.config.js` but more simply to the import of a CSS file.

Removing `tsdx.config.js` file and importing the css, returns the same build error:

`/src/style.css`
[code]

`/src/index.tsx`
[code]

[2019-10-28 13:08] Ajamuar commented on #186
@teplenin Hi, I couldn't find a solution, so I moved my styling inside the tsx file. It isn't the ideal solution but it works.

[2019-10-29 00:37] samdenty commented on #285
For me, it's not exporting all the types. The dts declaration merging is broken

0.9.3 okay:
[code]

1.10.0 error, type not exported

[2019-10-29 13:44] #268 closed

[2019-10-29 13:56] jaredpalmer opened #289 "Improve internal package testing"
I stole the current testing strategy from nytimes/kyt several years ago and have been using it on almost all of my CLI tools. Nowadays there are probably better ways to test CLI tools (including using tools like Verdaccio to run end-to-end tests).

I want to open up discussion for improving testing and stability of tsdx.

[2019-10-29 16:34] wessberg commented on #285
Sorry about that, do you have a minimal repro I can take a look at? It would be great if you submitted this as an issue over at [rollup-plugin-ts](https://github.com/wessberg/rollup-plugin-ts)

[2019-10-29 16:37] z0al commented on #285
No worries. I will do if I could reproduce it in a small repo, thanks.

[2019-10-29 20:17] kunukn commented on #165
Have you tried?

`module.exports = function myThing() {}`

Instead of `export default function myThing() {}`

This worked for me.

Example project.
https://github.com/kunukn/use-merge-refs

[2019-10-29 20:41] TrySound commented on #165
Or just don't use this devil syntax. Named exports do the work better.

[2019-10-29 22:16] gndelia commented on #265
Hi
I have a draft PR, however I am having issues to commit - I am getting eslint errors under `test/tests/lint` - although that folder should be excluded. I get them even without my changes

I am running `yarn lint` (actually it is being run in the `pre-commit` hook)

[code]

Any ideas? My understanding is that those fields should be excluded from being analyzed

[2019-10-29 23:01] jannisg commented on #275
@zenyr What's wrong with the `--parallel` flag? Seems like a reasonable thing to do here?

Or are you referring to the note in the lerna docs?

[2019-10-29 23:29] greenkeeper[bot] opened #292 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.20` to `24.0.21`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2F%40types%2Fjest-24.0.21).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a d

[2019-10-30 15:30] greenkeeper[bot] opened #293 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.0` to `12.12.1`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2F%40types%2Fnode-12.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a d

[2019-10-30 16:22] arthurdenner commented on #279
@zcuric, I looked into this and noticed that, in order to remove the warning thrown by [`eslint-plugin-react`](https://github.com/yannickcr/eslint-plugin-react/blob/61c79716e6d18cf07997eab3bd6b27941c7e8d3a/lib/util/version.js#L24), we would need to change `tsdx` quite a lot because there is no way to ignore this message on the plugin that `react-app` is using it under the hood.

And also, we can't

[2019-10-30 18:59] darthtrevino commented on #175
To follow up with @elado 's comment, if your code uses web-workers at all it would be nice to be able to use multiple entry points split across output files so that worker scripts are separate from everything else.

[2019-10-30 20:52] zcuric commented on #279
@arthurdenner `tsdx` is great tool and I know that authors are very tie to React ecosystem, but my reasoning is to to make the tool better is to decouple it from any specific framework and provide the basis to develop any kind of TS library, regardless of environment. Not just removing specific `eslint` plugins, but all that specific coupled stuff.

Sadly, I'm not experienced in TS that much for a

[2019-10-30 21:45] arthurdenner commented on #279
@zcuric, as I said, it definitely can be done. If you want to work on it, you just have to change the ESLint config that is [created](https://github.com/jaredpalmer/tsdx/blob/master/src/createEslintConfig.ts) on the `lint` command. My point was that we are currently using a tool that handles more than just React, so removing it requires more changes and I'll wait for some input from maintainers to

[2019-10-30 22:17] zcuric commented on #206
Built my first TS project with `tsdx`, a logging utility.

https://github.com/zcuric/sql-log-prettifier

[2019-10-30 22:42] arthurdenner opened #294 "Support objectHashIgnoreUnknownHack flag from rpt2"
### Current Behavior
I'm using tsdx to bundle [react-semantic-ui-datepickers](https://github.com/arthurdenner/react-semantic-ui-datepickers) and I can't [upgrade `rollup-plugin-copy`](https://github.com/arthurdenner/react-semantic-ui-datepickers/pull/64) to v3 because the build fails with the error `Unknown object type "asyncfunction"`. This is because we are not passing the flag `objectHashIgnore

[2019-10-31 09:45] alexvcasillas commented on #206
Animation Library with Intersection Observer and React Spring :)
https://github.com/alexvcasillas/react-spring-pop

[2019-10-31 19:06] greenkeeper[bot] opened #295 "An in-range update of rollup is breaking the build 🚨"
## The dependency [rollup](https://github.com/rollup/rollup) was updated from `1.26.0` to `1.26.1`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Frollup-1.26.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a direct dependency of this project, and **it

[2019-11-01 11:19] shKwonRiiid opened #296 "Cannot resolve dependency issue"
### Current Behavior
In development, cannot resolve any sources like below.

I have no idea why this problem happened. I changed paths in tsconfig

but it didn't work too.

I hope you to help or give me any idea that can solve this problem 🙏 🙇

![image](https://user-images.githubusercontent.com/35020779/68068384-93055500-fd97-11e9-8125-b5d393ceb1c7.png)

<img width="200" src="https://user-images.g

[2019-11-01 18:06] greenkeeper[bot] opened #297 "An in-range update of @types/shelljs is breaking the build 🚨"
## The dependency [@types/shelljs](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `0.8.5` to `0.8.6`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2F%40types%2Fshelljs-0.8.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/shelljs is a d

[2019-11-01 21:30] JustFly1984 commented on #279
As I understand, react-app is part of dependencies for templates. I think if you move ./src to sub directory and manage dependencies for project in separate package.json from templates, you can get rid of stuff which is not directly required by tsdx itself.

[2019-11-03 05:58] yordis commented on #175
Related to this I guess,

How could I avoid having one single outputted file for ESM build?

[code]

[code]

I am looking for having something like Material UI folks put together.

[2019-11-03 14:13] hardfist opened #298 "Add modern format"
### Current Behavior

https://github.com/developit/microbundle#new-modern-js like microbundle supports
### Desired Behavior

### Suggested Solution

### Who does this impact? Who is this for?

### Describe alternatives you've considered

### Additional context

[2019-11-04 00:35] sw-yx commented on #273
You'll need to provide a repro case. but sounds like the __DEV__ babel transform is not working.

please feel free to reopen when you have a repro

[2019-11-04 00:35] #273 closed

[2019-11-04 00:36] sw-yx commented on #298
low effort issue

[2019-11-04 00:37] sw-yx commented on #279
@arthurdenner i'd be happy to accept a PR for this

[2019-11-04 00:39] sw-yx commented on #296
can you replicate this in a fresh tsdx app and share a reproduction example? seems like messing with the paths may have confused absolute path resolution.

[2019-11-04 00:42] sw-yx commented on #294
i dont 100% understand. what is rpt2? why are we adding a flag just to pass a flag to a specific dependency others may not have? i definitely dont like the suggested solution but think there is a bigger solve here. please explain your rpt2 usage.

[2019-11-04 00:43] sw-yx commented on #265
@gndelia lets address those windows lint issues separately, and get this PR in as soon as you feel it is ready.

[2019-11-04 00:46] sw-yx commented on #284
do you mind retrying with v0.11? we reverted that change. reopen if still persists.

[2019-11-04 00:46] #284 closed

[2019-11-04 00:46] #283 closed

[2019-11-04 00:48] sw-yx commented on #274
we've rolled back the plugin change - open new issues for anything v0.11 and up

[2019-11-04 00:48] #274 closed

[2019-11-04 00:50] #292 closed

[2019-11-04 00:50] #293 closed

[2019-11-04 00:50] #295 closed

[2019-11-04 00:50] #297 closed

[2019-11-04 00:56] sw-yx commented on #134
implemtend

[2019-11-04 00:56] #134 closed

[2019-11-04 00:57] sw-yx commented on #63
we've enabled customizable configs since this issue was open. please have a try. we still have other users interested in css modules that are reporting small issues.

[2019-11-04 00:57] #63 closed

[2019-11-04 00:59] sw-yx commented on #80
we had some churn with v0.10 but now are back to separate .d.ts - if anyone wants to explore rollup-plugin-dts or any other solutions please have a try

[2019-11-04 01:02] sw-yx commented on #243
i think we'd take a PR for this. good flag to have.

[2019-11-04 01:03] sw-yx commented on #104
yes, still interested. just need to fix merge conflicts and be sure to hyphen-case instead of camel case (see jared's recent pr on casing)

[2019-11-04 02:52] lookfirst commented on #273
@sw-yx

I described exactly what the issue is, with the error message.

There is another person with a thumbs up.

You just closed the issue without even trying to repro it yourself?

Do you have a test case for adding __DEV__ to code in `src/` and running it locally?

If not, then why not?

If you're going to manage issues, you should at least give them a bit of consideration instead of just maki

[2019-11-04 02:52] lookfirst commented on #273
@jaredpalmer You gave control of the project to this guy?

[2019-11-04 05:00] shKwonRiiid commented on #296
@sw-yx  I did some tests like below.

1. create new tsdx and copy sources => ❌
2. no folders. I mean flattened all files in `src` => ❌
3. `absolute path` changed to `relative path` (same source) => ✅

I think `absolute path` is not working in tsdx 😭

Can you check this?

[2019-11-04 07:11] arvigeus opened #299 "Example with subdirectories"
I want to be able to do this:

[code]

Is this a bad practice? If not, can we have an example of how to do it in the docs?

[2019-11-04 08:46] sergiop commented on #284
I can confirm @sw-yx, upgrading to v0.11 solves the issue. Thanks.

[2019-11-04 08:56] arthurdenner commented on #294
Hi @sw-yx! Sorry for not being so clear at first.

So, `rpt2` stands for `rollup-plugin-typescript2`, that `tsdx` is using again now (see #287). That's its internal name.

The plugin has a property called `objectHashIgnoreUnknownHack` which should be used when you want to compile a plugin that uses some features, e.g. async/await.

I'm extending `tsdx`'s default rollup config to use `rollup-plugin

[2019-11-04 09:45] arnaud-zg commented on #134
Thanks ;)

[2019-11-04 15:00] sw-yx commented on #294
ah i see. thanks for explaining! i guess i dont know enough to be helpful. will leave to @medelman17 or @jaredpalmer

[2019-11-04 15:52] sw-yx commented on #299
its fine, not bad practice. i’m just not sure we support it tbh.

[2019-11-04 16:11] arvigeus commented on #299
According to [this](https://github.com/rollup/rollup/issues/2216#issuecomment-391881386) it is possible if you pass a json object as input. Will try it now.

[2019-11-04 16:27] arvigeus commented on #299
Doesn't seem so...

[2019-11-04 18:34] greenkeeper[bot] opened #300 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The dependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.6.0` to `2.6.1`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.6.1).

This version is **covered** by your **current version range** and after updating it in your project **th

[2019-11-04 18:34] greenkeeper[bot] opened #301 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The dependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.6.0` to `2.6.1`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2F%40typescript-eslint%2Fparser-2.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-11-04 23:57] Idered commented on #186
This works for me:

- tsdx `0.11.0`
- `src/typings.d.ts`:
[code]
- `tsdx.config.js`:
[code]
- `import styles from './style.module.css'` -> `{container: "style-module_container__30I_8", list: "style-module_list__3gJhy", listItem: "style-module_listItem__2pC6c"}`

[2019-11-05 01:11] sergiop commented on #186
@Idered your config works thanks to `tzdx 0.11.0`. All the `0.10.x` versions have a bug that break the build importing any `.css` file. Nothing else 😉.

[2019-11-05 15:01] greenkeeper[bot] opened #302 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.6.4` to `7.7.0`.
- The `dependency` [@babel/helper-module-imports](https://www.npmjs.com/package/@babel/helper-module-imports) was updated from `7.0.0` to `7.7.0`.
- The `dependency` [@babel/plugin-proposal-class-properties](https://www.npmjs.com/

[2019-11-05 15:35] sebald commented on #243
Working on it! :)

[2019-11-05 17:47] grimnomad commented on #260
I have tested the watch task with the `--noClean` flaq as introduced in #282. Now it runs without falling.

[2019-11-05 17:47] #260 closed, assigned to nobody

[2019-11-05 19:36] DevanB commented on #294
I've ran into this issue today too: https://github.com/vladshcherbin/rollup-plugin-copy/issues/16#issuecomment-481632072

While using `rollup-plugin-copy` the `objectHashIgnoreUnknownHack` flag needs to be set.

Here is some history on the `rollup-plugin-typescript2` and async/await that is requiring this flag: https://github.com/ezolenko/rollup-plugin-typescript2/issues/105

[2019-11-05 23:25] greenkeeper[bot] opened #304 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.21` to `24.0.22`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2F%40types%2Fjest-24.0.22).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a d

[2019-11-05 23:41] greenkeeper[bot] opened #305 "An in-range update of pretty-quick is breaking the build 🚨"
## The devDependency [pretty-quick](https://github.com/azz/pretty-quick) was updated from `2.0.0` to `2.0.1`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fpretty-quick-2.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pretty-quick is a devDependency of this p

[2019-11-05 23:55] SCasarotto opened #306 "Ability to add a dependency to the config external list"
### Current Behavior
There isn't anything in the documentation stating there is a way to exclude a package. styled components suggests excluding it from a library: https://www.styled-components.com/docs/faqs#with-rollupjs . When I used Create React Library this was done through the use of rollup-plugin-peer-deps-external .

### Desired Behavior
Ability to exclude a dep or enable rollup-plugin-peer

[2019-11-06 08:30] arthurdenner commented on #294
Another thing to notice is that the `objectHashIgnoreUnknownHack` flag may lead to cache issues and we don't support the `clean` flag at the moment too, which could prevent any issues.

[2019-11-06 16:30] greenkeeper[bot] opened #309 "An in-range update of @types/react-dom is breaking the build 🚨"
## The devDependency [@types/react-dom](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.3` to `16.9.4`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fdefault%2F%40types%2Freact-dom-16.9.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@

[2019-11-06 18:47] #279 closed

[2019-11-07 07:24] arvinsim commented on #294
While I was searching for ways to import assets by using plugins like [rollup-plugin-url](https://github.com/rollup/rollup-plugin-url) and [rollup-plugin-smart-asset](https://github.com/sormy/rollup-plugin-smart-asset), I get this error too.

[2019-11-07 07:59] arvinsim commented on #278
Okay, I created a [repo](https://github.com/arvinsim/tsdx-asset-import-bug) to reproduce the error. I commented out `rollup-plugin-url` and `rollup-plugin-image` in `tsdx.config.js`. When I try to use them, I get errors.

[2019-11-07 09:40] tychota opened #310 "Provide an easy way to remove minification"
### Current Behavior

Currently, TSDX (v0.9, couldn't upgrade to 0.10 due to various problems already reported) behavior concerning minification is:

[code]

The impact on me is the following.
When building a NestJS, the swagger looks like this.

![image](https://user-images.githubusercontent.com/13785185/68375507-4202b180-0147-11ea-9464-054da0b17168.png)
 💩

There is an issue for `Terser` mangle

[2019-11-07 12:42] sw-yx commented on #310
at a minimum i’m happy to take a documentation pr with those exact keywords. im always wary of adding a new flag because of flag sprawl, so that can be a separate discussion.

[2019-11-09 03:09] greenkeeper[bot] opened #311 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.6` to `12.12.7`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2F%40types%2Fnode-12.12.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a d

[2019-11-09 03:10] greenkeeper[bot] opened #312 "An in-range update of prettier is breaking the build 🚨"
## The dependency [prettier](https://github.com/prettier/prettier) was updated from `1.18.2` to `1.19.0`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fprettier-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a direct dependency of this project,

[2019-11-09 14:31] wessberg commented on #285
@z0al, The issue with malformed typings you reported has been fixed in [the latest version of `rollup-plugin-ts`](https://github.com/wessberg/rollup-plugin-ts/releases/tag/v1.1.74).

[2019-11-09 14:31] wessberg commented on #268
@dattebayorob, The issue you reported has been fixed in [the latest version of `rollup-plugin-ts`](https://github.com/wessberg/rollup-plugin-ts/releases/tag/v1.1.74).

[2019-11-09 16:21] greenkeeper[bot] opened #316 "An in-range update of jest-watch-typeahead is breaking the build 🚨"
## The dependency [jest-watch-typeahead](https://github.com/jest-community/jest-watch-typeahead) was updated from `0.4.0` to `0.4.1`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fjest-watch-typeahead-0.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jest-watc

[2019-11-09 20:54] greenkeeper[bot] opened #317 "An in-range update of rollup is breaking the build 🚨"
## The dependency [rollup](https://github.com/rollup/rollup) was updated from `1.26.3` to `1.26.4`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Frollup-1.26.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a direct dependency of this project, and **it

[2019-11-10 21:40] tylerthehaas opened #319 "test command not running in watch mode"
### Current Behavior

`yarn test` isn't running in interactive mode

### Expected behavior

to have tests run in interactive/watch mode.

### Suggested solution(s)

run jest in watch mode when tsdx test is run.

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| TSDX           |  0.11.0
| TypeScript       | 3.7.2
| Browser          | N/A
| npm/Yarn

[2019-11-11 03:50] SCasarotto commented on #306
Please ignore this. I figure out the root cause of the problem I was running into.

[2019-11-11 03:50] #306 closed

[2019-11-11 09:22] arthurdenner commented on #294
@sw-yx, seems like there are more use cases and more plugins a solution regarding the flag.

Can I open a PR and we continue the discussion there?

[2019-11-11 21:24] Weffe opened #320 "Extracting errors during build does not support string templates"
### Current Behavior

Running `--extractErrors` on the build script will fail if you use a string template as the invariant message instead of normal string quotes.

Example index.ts:

[code]

Results in:

[code]

I think this has to do with the `evalToString` method in `src/errors/evalToString.ts`. It fails to evaluate `TemplateLiteral` expressions and thus fails to extract any errors.

### Expec

[2019-11-12 02:26] arvinsim commented on #278
Any updates on this?

[2019-11-12 02:45] nartc commented on #165
Ran into this issue today. It's not that I (and some others) want to use Default Export but because some other tools require Default Export to work, namely Mocha Custom Reporter.

[2019-11-12 05:49] yordis opened #321 "Add --preserveModules (similar to `babel --out-dir`)"
### Current Behavior

We need to specify an entry point.

### Desired Behavior

Specify `--outDir` over an entry point

### Suggested Solution

I am interested in having TypeScript/Babel CLI like compilations rather than outputting a single file.

### Who does this impact? Who is this for?

All users, friendly for ESM builds without having to import everything in the entry file.

### Describe alte

[2019-11-12 06:27] rickkky opened #322 "Can not find modules when testing"
### Current Behavior

I have a.ts and b.ts in my src folder.

[code]

And in b.ts, I import a.ts by  using import like the following statement:

[code]

Here is my tsconfig.json:

[code]

And I can build correctly by using `tsdx build`. But there comes an error when using `tsdx test`:

[code]

### Expected behavior

This question makes me confused.

I think since it can build successfully, it shou

[2019-11-13 02:36] msreekm opened #325 "Typescript Path not resolving in published npm package"
### Current Behavior

 Paths defined in tsconfig does not resolve in compiled npm package.

### Expected behavior

"paths": {
      "*": ["src/*", "node_modules/*"],
      "*": ["@foo/*", "src/foo/*"],
Module not found: Can't resolve '@foo/components/ActionLink' in '/Users/sreekumarmenon/projects/xxxx/src/yyy/node_modules/xzzz.ui.core/dist'

### Suggested solution(s)
Am I missing something? do I n

[2019-11-13 08:57] andrico1234 commented on #206
Using TSDX for my skill tree package `beautiful-skill-tree`:

https://github.com/andrico1234/beautiful-skill-tree

[2019-11-13 23:50] arthurdenner commented on #294
For those who need to bypass this restriction, a workaround for now is to override the plugin on your custom config, like this:

[code]

[2019-11-14 00:52] agilgur5 commented on #165
Added a PR to resolve this in #327 following my previous [suggestions](https://github.com/jaredpalmer/tsdx/issues/165#issuecomment-514924048) above.

As I and others have stated above, this is a pretty big blocker to adoption and causes lots of unexpected compatibility bugs with different tools, as well as unintended breaking changes for any libraries that try to adopt `tsdx` without knowing about

[2019-11-14 01:06] agilgur5 opened #328 "Why not use the default cache directory (`node_modules/.cache/rollup-plugin-typescript2`)?"
### Current Behavior

Currently `tsdx` outputs to `./.rts2_cache_*` and requires you to have a `gitignore` for these directories.

### Desired Behavior

Use [`rollup-plugin-typescript2`'s default](https://github.com/ezolenko/rollup-plugin-typescript2#plugin-options), which is `node_modules/.cache/rollup-plugin-typescript2`. This way there's no need to gitignore anything extra (as `node_modules` is

[2019-11-14 19:08] jaredpalmer commented on #165
@agilgur5 as you know, tsdx is just formik's build system. I don't use default exports unless forced to by a framework (e.g. next.js or gatsby). I apologize for the frustration. Is there any workaround?

[2019-11-14 20:23] nartc commented on #165
@jaredpalmer ^ this workaround worked for me.

[2019-11-14 21:42] NateRadebaugh opened #330 "Document best-practices to enable tree shakable libraries with multiple named exports"
### Current Behavior

I'm not sure the right setup to use to avoid ending up creating a library like `moment` or `lodash` with the _wrong_ setup for tree-shaking.

### Desired Behavior

I'd like to organize my library into multiple source files and then make them (and their type definitions) available to consumers.

### Suggested Solution

I'd like to see some gist or template that includes multip

[2019-11-15 02:26] greenkeeper[bot] opened #331 "An in-range update of eslint-plugin-react-hooks is breaking the build 🚨"
## The dependency [eslint-plugin-react-hooks](https://github.com/facebook/react) was updated from `2.2.0` to `2.3.0`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Feslint-plugin-react-hooks-2.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-react-

[2019-11-15 02:27] greenkeeper[bot] opened #332 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.11.0` to `16.12.0`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.11.0` to `16.12.0`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fdefault%2Fmonorepo.react-20

[2019-11-15 02:39] greenkeeper[bot] opened #333 "An in-range update of babel-plugin-macros is breaking the build 🚨"
## The dependency [babel-plugin-macros](https://github.com/kentcdodds/babel-plugin-macros) was updated from `2.6.1` to `2.6.2`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fbabel-plugin-macros-2.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-plugin-mac

[2019-11-15 10:01] jlkiri opened #336 "Imports of the entry module are not bundled"
### Current Behavior

I have an `src` folder which has `index.ts` in it and two subfolders `plugins` and `utils`, each with more TS files. `index.ts` imports most of these files from subfolders, but they are neither bundled nor independently compiled. Only their types are correctly output, however.

### Expected behavior

1. Output a compiled JS file for each TS file imported by `index.ts` so it c

[2019-11-15 11:41] jlkiri commented on #336
I figured out that this is only the case if imports within source files are made relative to `paths` option of `tsconfig.json`, such as `src/*`. If imports are relative to the importing file itself everything is alright.

[2019-11-15 13:39] NateRadebaugh commented on #330
It looks like there may be no issue with tsdx, as [bundlephobia](https://bundlephobia.com/result?p=@nateradebaugh/test-tree-shaking-tsdx@0.1.1) is showing it as "tree-shakable"

https://github.com/NateRadebaugh/test-tree-shaking-tsdx
![image](https://user-images.githubusercontent.com/130445/68947381-f2da0380-077a-11ea-97f6-88e9a0d8a0d2.png)

[2019-11-15 13:39] #330 closed

[2019-11-16 16:56] greenkeeper[bot] opened #337 "An in-range update of ansi-escapes is breaking the build 🚨"
## The dependency [ansi-escapes](https://github.com/sindresorhus/ansi-escapes) was updated from `4.2.1` to `4.3.0`.

🚨 [View failing branch](https://github.com/jaredpalmer/tsdx/compare/master...jaredpalmer:greenkeeper%2Fansi-escapes-4.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ansi-escapes is a direct dependency